all_pub_mqtt_lab.js
[{"id":"2e4b7825.6675d8","type":"tab","label":"First flow"},{"id":"c1bc2800.6b2f88","type":"tab","label":"Own GPS Tracker"},{"id":"23171de9.a1fde2","type":"tab","label":"ModBus Meter","disabled":false,"info":""},{"id":"51f949d9.b75c88","type":"tab","label":"Pub DL 2 LCD Class C","disabled":false,"info":""},{"id":"72fa5a19.1dea94","type":"tab","label":"Pi_Loading_exec_chart","disabled":false,"info":""},{"id":"b2dd78f7.292618","type":"tab","label":"Using Function Node","disabled":false,"info":""},{"id":"ca2a9d00.3835d","type":"tab","label":"DHT11-Blynk","disabled":false,"info":""},{"id":"ef98894a.a1b718","type":"tab","label":"Lab09 Pub Local MQTT Class C LCD","disabled":true,"info":""},{"id":"c7dba11a.ffe3b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"2","willPayload":"","birthTopic":"","birthQos":"2","birthPayload":""},{"id":"5aecf96e.ba5d38","type":"blynk-websockets-client","z":"","name":"V7-iOS","path":"ws://cloud.blynk.cc/websocket","key":""},{"id":"de0a43d7.0cb","type":"mqtt-broker","z":"","broker":"10.6.1.28","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8e23401b.e16bb","type":"ui_group","z":"","name":"VR","tab":"720cde7b.e3951","disp":true,"width":"6"},{"id":"720cde7b.e3951","type":"ui_tab","z":"","name":"Public MQTT blynk","icon":"dashboard"},{"id":"71f422e4.0f062c","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"89057f71.75c62","type":"ui_group","z":"","name":"DC meter","tab":"cd3f5894.72b888","disp":true,"width":"6"},{"id":"9b82a5cb.24ffa8","type":"ui_group","z":"","name":"Default","tab":"cca522.a4a2dae","disp":true,"width":"6"},{"id":"cca522.a4a2dae","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3c7f14a9.2b32dc","type":"blynk-websockets-client","z":"","name":"blynk-Android","path":"ws://cloud.blynk.cc/websocket","key":"ec2d29e38670478fbafec1966b709ef2"},{"id":"858b5ef7.b5765","type":"websocket-listener","z":"","path":"/ws/location","wholemsg":"false"},{"id":"f8ec8f6f.82e89","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b6710350.08517","type":"ui_group","z":"","name":"RSSI","tab":"75b4a4a1.77d60c","order":3,"disp":true,"width":"6"},{"id":"6d086ea2.359f9","type":"ui_group","z":"","name":"Temperature","tab":"75b4a4a1.77d60c","order":1,"disp":true,"width":"6"},{"id":"9cb23fef.7262a","type":"ui_group","z":"","name":"Battery","tab":"75b4a4a1.77d60c","disp":true,"width":"6"},{"id":"20f5329d.4df8be","type":"ui_group","z":"","name":"Status","tab":"75b4a4a1.77d60c","disp":true,"width":"6"},{"id":"75b4a4a1.77d60c","type":"ui_tab","z":"","name":"Tracker Status","icon":"dashboard"},{"id":"33653d6c.db5b52","type":"blynk-websockets-client","z":"","name":"MAP","path":"ws://cloud.blynk.cc/websocket","key":""},{"id":"f8c9506b.6c67d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"2","willPayload":"","birthTopic":"","birthQos":"2","birthPayload":""},{"id":"470d6a49.255fc4","type":"ui_group","z":"","name":"Col1","tab":"e765c165.97795","order":1,"disp":false,"width":"6"},{"id":"ea111276.32381","type":"ui_group","z":"","name":"Col2","tab":"e765c165.97795","order":2,"disp":false,"width":"6"},{"id":"87209c20.24f24","type":"ui_group","z":"","name":"Col3","tab":"e765c165.97795","order":3,"disp":false,"width":"6"},{"id":"e765c165.97795","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":4},{"id":"87f55db7.e16ff","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b04a82c.d9a478","type":"ui_link","name":"Link 6","icon":"open_in_browser","target":"newtab","order":6},{"id":"cd3f5894.72b888","type":"ui_tab","z":"","name":"ModBus Meter","icon":"dashboard"},{"id":"d55cd6eb.b659c8","type":"ui_group","z":"","name":"DHT11","tab":"720cde7b.e3951","disp":true,"width":"6"},{"id":"dbcc1894.7167b8","type":"inject","z":"ca2a9d00.3835d","name":"Test Input 40 Now","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"x":503.1000213623047,"y":226.800030708313,"wires":[["7ef7f9ca.12af38"]]},{"id":"7ef7f9ca.12af38","type":"blynk-websockets-out-write","z":"ca2a9d00.3835d","name":"Android-V7","pin":"7","client":"3c7f14a9.2b32dc","x":884.1001091003418,"y":481.00006103515625,"wires":[]},{"id":"8ac02167.271c6","type":"mqtt in","z":"ca2a9d00.3835d","name":"mqtt sub","topic":"client/200000020/200000020-GIOT-MAKER","qos":"2","broker":"71f422e4.0f062c","x":170,"y":322,"wires":[["3635a1b7.d00dee","13d69501.29f00b"]]},{"id":"3635a1b7.d00dee","type":"debug","z":"ca2a9d00.3835d","name":"All json","active":false,"console":"false","complete":"payload","x":436.00001525878906,"y":322,"wires":[]},{"id":"cc5892bd.f19f1","type":"function","z":"ca2a9d00.3835d","name":"payload.data2ACSII","func":"function hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\nvar payload = msg.payload;\n//Change \"05010320\" to your LoRa MacAddr and Change 1 to 0\nif (payload.macAddr == \"04000476\" || 1){\n    msg.payload = hex2a(payload.data);\n    // 21.56/78.00\n    var pm = parseInt(msg.payload.substr(0,5));      //Humidity的資訊\n    var temp = parseInt(msg.payload.substr(6,5));    //Temperature.Celsius資訊\n    return [{payload:pm},{payload:temp}];\n    }","outputs":"2","noerr":0,"x":492.00006103515625,"y":456.00001335144043,"wires":[["cc5df69.7d3d208","858df84b.630db8"],["391bb3ee.cd3d7c","7ef7f9ca.12af38"]]},{"id":"13d69501.29f00b","type":"json","z":"ca2a9d00.3835d","name":"","x":328.0000305175781,"y":393.0000057220459,"wires":[["cc5892bd.f19f1"]]},{"id":"db09ddb.bd75b2","type":"comment","z":"ca2a9d00.3835d","name":"GIoT Public MQTT Flow","info":"","x":208.00000762939453,"y":277.0000081062317,"wires":[]},{"id":"cc5df69.7d3d208","type":"ui_chart","z":"ca2a9d00.3835d","name":"","group":"d55cd6eb.b659c8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":889.3000335693359,"y":314.40001487731934,"wires":[[],[]]},{"id":"7fc88717.915a18","type":"comment","z":"ca2a9d00.3835d","name":"Add config","info":"please go to \nhttps://cust00-01.giotgateway.com/giot-mqtt/\nto get your mqtt confugeration","x":171.1000099182129,"y":370.6000108718872,"wires":[]},{"id":"391bb3ee.cd3d7c","type":"ui_gauge","z":"ca2a9d00.3835d","name":"","group":"d55cd6eb.b659c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":882.1001129150391,"y":540.2000408172607,"wires":[]},{"id":"8bdec00d.0138e","type":"comment","z":"ca2a9d00.3835d","name":"Config your Bynlk Key","info":"","x":901.1001129150391,"y":421.6000061035156,"wires":[]},{"id":"e16c2236.46158","type":"comment","z":"ca2a9d00.3835d","name":"Change \"04000476\" to your LoRa MacAddr","info":"Change \"04000476\" to your LoRa MacAddr and Change 1 to 0","x":469.10010528564453,"y":516.4000186920166,"wires":[]},{"id":"e1cccb26.105098","type":"debug","z":"2e4b7825.6675d8","name":"","active":true,"complete":"payload","x":676,"y":214,"wires":[]},{"id":"fc0abb72.174518","type":"inject","z":"2e4b7825.6675d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286,"y":214,"wires":[["5743b577.f84d6c"]]},{"id":"5743b577.f84d6c","type":"function","z":"2e4b7825.6675d8","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = \"hello world\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":214,"wires":[["e1cccb26.105098"]]},{"id":"c953b109.e2df1","type":"websocket out","z":"c1bc2800.6b2f88","name":"","server":"858b5ef7.b5765","client":"","x":903.0000114440918,"y":157.0000286102295,"wires":[]},{"id":"22daac5.9915d54","type":"function","z":"c1bc2800.6b2f88","name":"context.global.location","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":674.9999542236328,"y":276.00000286102295,"wires":[["c953b109.e2df1","47aca7d4.36b688"]]},{"id":"47a657df.dc2088","type":"websocket in","z":"c1bc2800.6b2f88","name":"","server":"858b5ef7.b5765","client":"","x":403.00011444091797,"y":156.00001621246338,"wires":[["afa8cf10.0b54b"]]},{"id":"afa8cf10.0b54b","type":"function","z":"c1bc2800.6b2f88","name":"context.global.location","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":1,"noerr":0,"x":667.0001182556152,"y":161.00001525878906,"wires":[["c953b109.e2df1"]]},{"id":"f085ceec.a361d","type":"http response","z":"c1bc2800.6b2f88","name":"","x":872.0000648498535,"y":90.00000762939453,"wires":[]},{"id":"ff225083.b0612","type":"http in","z":"c1bc2800.6b2f88","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":418.00011444091797,"y":95.00000762939453,"wires":[["5c5133b9.5b6e3c"]]},{"id":"ab5cfed0.f71c8","type":"debug","z":"c1bc2800.6b2f88","name":"","active":false,"console":false,"complete":false,"x":639.000114440918,"y":220.00000190734863,"wires":[]},{"id":"e7605c7d.e0ca3","type":"inject","z":"c1bc2800.6b2f88","name":"Location Example Input","topic":"","payload":"[{\"lat\":24.800883,\"lng\":120.984992},{\"lat\":24.8005512,\"lng\":120.9877736},{\"lat\":24.8002866,\"lng\":120.9881207},{\"lat\":24.8001692,\"lng\":120.9895679}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":387.00012969970703,"y":223.00000095367432,"wires":[["22daac5.9915d54","ab5cfed0.f71c8"]]},{"id":"5c5133b9.5b6e3c","type":"template","z":"c1bc2800.6b2f88","name":"http://10.6.1.12:1880/map","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Owntracks Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n// 這裡要改成 樹莓派的IP Addr\n  var socketaddy = \"ws://10.6.1.12:1880/ws/location\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      //  設定地圖中心點\n      map = new GMaps({\n        div: '#map',\n        // 23.97565,120.973882 23.904744, 121.076179\n        lat: 23.97565,\n        lng: 120.973882\n      });\n      \n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t});\n        \n      //  map.removeMarkers();\n        map.removePolylines();\n       \tconsole.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n        map.setZoom(17);\n       \tmap.setCenter(latlng[0].lat, latlng[0].lng);\n        map.addMarkers(latlng);\n      \tmap.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});\n      }\n    });\n  </script>\n</body>\n</html>","x":641.0000648498535,"y":96.00000762939453,"wires":[["f085ceec.a361d"]]},{"id":"47aca7d4.36b688","type":"debug","z":"c1bc2800.6b2f88","name":"","active":false,"console":"false","complete":"false","x":902.0000686645508,"y":273.00000381469727,"wires":[]},{"id":"8c57b2b7.d4947","type":"function","z":"c1bc2800.6b2f88","name":"map","func":"//var lat=(24.824253+Math.random()*0.1).toFixed(6);\n//var lng=(121.015235+Math.random()*0.1).toFixed(6);\nvar lat=parseInt(msg.payload.data.substr(6,8),16)*180/Math.pow(2,32);\nvar lng=parseInt(msg.payload.data.substr(14,8),16)*180/Math.pow(2,32);\nvar msg2=\"[{\\\"lat\\\":\"+lat+\",\\\"lng\\\":\"+lng+\"}]\";\nreturn {payload:msg2};\n","outputs":1,"noerr":0,"x":427.0000877380371,"y":296.9999771118164,"wires":[["f9b2c4ab.df1628","22daac5.9915d54"]]},{"id":"f9b2c4ab.df1628","type":"debug","z":"c1bc2800.6b2f88","name":"","active":true,"console":"false","complete":"false","x":647.0000114440918,"y":336.0000057220459,"wires":[]},{"id":"65720df2.4f2434","type":"json","z":"c1bc2800.6b2f88","name":"","pretty":false,"x":142.33348846435547,"y":238.66668796539307,"wires":[["2fee4081.59244","d7133bdf.370028"]]},{"id":"d6ec93e.0d7577","type":"mqtt in","z":"c1bc2800.6b2f88","name":"Conn2GIoT_MQTT","topic":"client/200000020/200000020-GIOT-MAKER","qos":"2","broker":"71f422e4.0f062c","x":137.33348846435547,"y":161.6666955947876,"wires":[["65720df2.4f2434"]]},{"id":"995b16dc.7add28","type":"function","z":"c1bc2800.6b2f88","name":"RSSI","func":"\nreturn {payload:msg.payload.extra.rssi};","outputs":1,"noerr":0,"x":532.3335037231445,"y":567.6666793823242,"wires":[["7eef4a78.8d3fb4","a09fbe03.703cb"]]},{"id":"d7133bdf.370028","type":"debug","z":"c1bc2800.6b2f88","name":"","active":false,"console":"false","complete":"false","x":223.33350372314453,"y":491.66670989990234,"wires":[]},{"id":"7eef4a78.8d3fb4","type":"ui_gauge","z":"c1bc2800.6b2f88","name":"","group":"b6710350.08517","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"dBm","format":"{{value}}","min":"-150","max":"0","colors":["#ff0000","#e6e600","#00ff40"],"x":701.3335075378418,"y":546.6666793823242,"wires":[]},{"id":"a09fbe03.703cb","type":"ui_chart","z":"c1bc2800.6b2f88","name":"","group":"b6710350.08517","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-150","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":700.3335075378418,"y":591.6666793823242,"wires":[[],[]]},{"id":"44eca6c0.d19628","type":"function","z":"c1bc2800.6b2f88","name":"Battery","func":"\nreturn {payload:parseInt(msg.payload.data.substr(4,2), 16)};","outputs":1,"noerr":0,"x":536.3334884643555,"y":652.6666574478149,"wires":[["e4f67c21.1e526","7b349ab4.522ad4"]]},{"id":"e4f67c21.1e526","type":"ui_gauge","z":"c1bc2800.6b2f88","name":"","group":"9cb23fef.7262a","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"0~255","format":"{{value}}","min":"0","max":"255","colors":["#ff0000","#e6e600","#00ff40"],"x":705.3334884643555,"y":645.6666574478149,"wires":[]},{"id":"7b349ab4.522ad4","type":"ui_chart","z":"c1bc2800.6b2f88","name":"","group":"9cb23fef.7262a","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"255","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":704.3334884643555,"y":690.6666574478149,"wires":[[],[]]},{"id":"93c025f6.7aea98","type":"ui_text","z":"c1bc2800.6b2f88","group":"20f5329d.4df8be","order":0,"width":"4","height":"4","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":704.3334884643555,"y":751.6666574478149,"wires":[]},{"id":"b1e9e23b.cac31","type":"function","z":"c1bc2800.6b2f88","name":"Status","func":"var status1=parseInt(msg.payload.data.substr(0,2),16);\nvar status_msg=\"<br>\"\nif (status1&0x01) status_msg+=\"Positioned <br>\";\nelse status_msg+=\"Not Positioned <br>\";\n\nif (status1&0x02) status_msg+=\"South Latitude<br>\";\nelse status_msg+=\"North Latitude <br>\";\n\nif (status1&0x04) status_msg+=\"West Longitude<br>\";\nelse status_msg+=\"East Longitude <br>\";\n\nif (status1&0x08) status_msg+=\"G-sensor Data<br>\";\nelse status_msg+=\"GPS Data <br>\";\n\nif (status1&0x10) status_msg+=\" Error Code Bit0=1<br>\";\nelse status_msg+=\"Error Code Bit0=0 <br>\";\n\nif (status1&0x20) status_msg+=\"MFT LoRa Packet<br>\";\nelse status_msg+=\"Normal LoRa Packet <br>\";\n\nif (status1&0x40) status_msg+=\"Error Code Bit1=1<br>\";\nelse status_msg+=\"Error Code Bit1=0 <br>\";\n\nif (status1&0x80) status_msg+=\"Error Code Bit2=1<br>\";\nelse status_msg+=\"Error Code Bit2=0 <br>\";\n\n//status_msg+=\"<br>FrameCnt=\";\n\n//status_msg+=msg.payload[0].frameCnt;\nreturn {payload:status_msg};","outputs":1,"noerr":0,"x":542.3334884643555,"y":750.6666574478149,"wires":[["93c025f6.7aea98"]]},{"id":"2abd8eab.4b74f2","type":"file","z":"c1bc2800.6b2f88","name":"Save Log to File","filename":"\\tmp\\smallTracker.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":576.3335037231445,"y":821.6666316986084,"wires":[]},{"id":"2fee4081.59244","type":"function","z":"c1bc2800.6b2f88","name":"macAddr==\"0000000004000476\"","func":"//if (msg.payload[0].macAddr==\"0000000004000476\") return msg;\nif (msg.payload.macAddr==\"04000476\") return msg;\nelse return null;","outputs":1,"noerr":0,"x":229.33345794677734,"y":597.6667385101318,"wires":[["8c57b2b7.d4947","995b16dc.7add28","b1e9e23b.cac31","44eca6c0.d19628","7d63b07a.23382","2abd8eab.4b74f2"]]},{"id":"5026d49f.0ca30c","type":"comment","z":"c1bc2800.6b2f88","name":"修改成自己的模組MacAddr","info":"Hello","x":221.72235870361328,"y":558.2222309112549,"wires":[]},{"id":"7d63b07a.23382","type":"debug","z":"c1bc2800.6b2f88","name":"","active":false,"console":"false","complete":"false","x":441.16668701171875,"y":903.4444885253906,"wires":[]},{"id":"6a33c56d.b8ce4c","type":"mqtt out","z":"51f949d9.b75c88","name":"DL to Public ","topic":"client/200000020/200000020-GIOT-MAKER/dl","qos":"","retain":"","broker":"71f422e4.0f062c","x":880.0000076293945,"y":219.44448852539062,"wires":[]},{"id":"cf02c173.5fb32","type":"inject","z":"51f949d9.b75c88","name":"Public Broker Clssa C DL","topic":"DL","payload":"{\"correlationId\":\"B180C43D2FAB617EF58267137518B938\",\"dldata\":{\"macAddr\":\"04000476\",\"data\":\"13c51c18\",\"extra\":{\"port\":2, \"txpara\":\"22\"}}}","payloadType":"str","repeat":"","crontab":"","once":true,"x":158.99998474121094,"y":224.8888931274414,"wires":[["26219c26.492334"]]},{"id":"5e5b9cc.b2ce064","type":"function","z":"51f949d9.b75c88","name":"04000476 DownLink","func":"function addZero(i) {\n    if (i < 10) {\n        i = \"0\" + i;\n    }\n    return i;\n}\nvar d = new Date();\nvar h = addZero(d.getHours());\nvar m = addZero(d.getMinutes());\nvar s = addZero(d.getSeconds());\n//{\"correlationId\":\"B180C43D2FAB61\",\"dldata\":{\"macAddr\":\"04000476\",\"data\":\"13c51c18\",\"extra\":{\"port\":2, \"txpara\":\"6\"}}}\nvar payload = msg.payload;\nmsg.payload.dldata.data = h.toString()+\"c\"+m.toString() +\"c\"+ s.toString();\nmsg.payload.correlationId = Math.floor(Math.random()*4294967295).toString(16);\nmsg.payload.dldata.macAddr = \"04000476\";\nmsg.payload.dldata.extra.txpara = 34; //Old IDU Class C\n//msg.payload.dldata.extra.txpara = \"22\"; //New IDU & ODU Class C, Class C don't have comfirmed (\"26\")\nreturn msg;","outputs":1,"noerr":0,"x":548.0000190734863,"y":224.22220993041992,"wires":[["6a33c56d.b8ce4c","a3ac6642.b2c198"]]},{"id":"26219c26.492334","type":"json","z":"51f949d9.b75c88","name":"","pretty":false,"x":356.9999771118164,"y":224,"wires":[["5e5b9cc.b2ce064"]]},{"id":"40d31974.239638","type":"mqtt out","z":"ef98894a.a1b718","name":"DL 00001c497bc0ddea","topic":"GIOT-GW/DL/00001c497bc0ddea","qos":"","retain":"","broker":"f8c9506b.6c67d","x":854.0000095367432,"y":219.00000381469727,"wires":[]},{"id":"86d6186.b3ff7e8","type":"inject","z":"ef98894a.a1b718","name":"Clssa A DL","topic":"DL","payload":"{\"macAddr\":\"0000000004000476\",\"data\":\"14c48c50\",\"id\":\"12345\",\"extra\":{\"port\":2, \"txpara\":\"22\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":184.9999771118164,"y":219.44439220428467,"wires":[["8ad5e6d6.bd17b8"]]},{"id":"2eb3a745.ef82c8","type":"function","z":"ef98894a.a1b718","name":"04000476 DownLink","func":"function addZero(i) {\n    if (i < 10) {\n        i = \"0\" + i;\n    }\n    return i;\n}\nvar d = new Date();\nvar h = addZero(d.getHours());\nvar m = addZero(d.getMinutes());\nvar s = addZero(d.getSeconds());\nvar dataJson ={};\ndataJson.macAddr = \"0000000004000476\";\ndataJson.data = h.toString()+\"c\"+m.toString() +\"c\"+ s.toString();;\ndataJson.id = Math.floor(Math.random()*4294967295).toString(16);\ndataJson.extra = {\"port\":1,\"txpara\":\"22\"};\nvar arr = [dataJson];\nmsg.payload = JSON.stringify(arr);\n\nreturn msg;","outputs":1,"noerr":0,"x":529.0000190734863,"y":217.77772331237793,"wires":[["40d31974.239638","116656e7.beb899","a72f65a4.7c0878"]]},{"id":"8ad5e6d6.bd17b8","type":"json","z":"ef98894a.a1b718","name":"","x":337.9999771118164,"y":217.555513381958,"wires":[["2eb3a745.ef82c8"]]},{"id":"116656e7.beb899","type":"debug","z":"ef98894a.a1b718","name":"","active":true,"console":"false","complete":"false","x":819.1666793823242,"y":322.11111640930176,"wires":[]},{"id":"4f6dd0e.2f92e3","type":"comment","z":"ef98894a.a1b718","name":"Change MacAddr to your Module","info":"","x":523.1667022705078,"y":260.65278244018555,"wires":[]},{"id":"46de4f5f.fbf36","type":"comment","z":"ef98894a.a1b718","name":"Change Topic GID to your own LoRaGateway","info":"","x":848.1666717529297,"y":178.66666984558105,"wires":[]},{"id":"a3ac6642.b2c198","type":"debug","z":"51f949d9.b75c88","name":"","active":true,"console":"false","complete":"payload","x":849.1666793823242,"y":287.11111545562744,"wires":[]},{"id":"ed888e2e.5b71a","type":"mqtt in","z":"51f949d9.b75c88","name":"DL response","topic":"client/200000020/200000020-GIOT-MAKER/dl-resp","qos":"2","broker":"71f422e4.0f062c","x":568.1666717529297,"y":347.55561447143555,"wires":[["c3789bbf.3f73e8"]]},{"id":"d180fed5.75675","type":"mqtt in","z":"51f949d9.b75c88","name":"DL result","topic":"client/200000020/200000020-GIOT-MAKER/dl-result","qos":"2","broker":"71f422e4.0f062c","x":575.1667327880859,"y":413.55561447143555,"wires":[["f374ee7f.8638d"]]},{"id":"c71c05c6.0cd078","type":"blynk-websockets-in-write","z":"51f949d9.b75c88","name":"V1 Terminal Read","pin":"1","client":"3c7f14a9.2b32dc","x":129.50000381469727,"y":96.00000190734863,"wires":[["6526aad3.d6e294","deef5349.d2598"]]},{"id":"6526aad3.d6e294","type":"debug","z":"51f949d9.b75c88","name":"","active":true,"console":"false","complete":"true","x":410,"y":100,"wires":[]},{"id":"deef5349.d2598","type":"function","z":"51f949d9.b75c88","name":"04000476 DownLink","func":"//{\"correlationId\":\"B180C43D2FAB61\",\"dldata\":{\"macAddr\":\"04000476\",\"data\":\"13c51c18\",\"extra\":{\"port\":2, \"txpara\":\"6\"}}}\nvar blynk_data = msg.payload;\n//console.log(blynk_data);\nvar DL_payload = {\"correlationId\":\"B180C43D2FAB61\",\"dldata\":{\"macAddr\":\"04000476\",\"data\":\"13c51c18\",\"extra\":{\"port\":2, \"txpara\":\"26\"}}}\nmsg.payload = DL_payload;\nmsg.payload.dldata.data =  blynk_data;\nmsg.payload.correlationId = Math.floor(Math.random()*4294967295).toString(16);\n// 這個要改成自己的模組Addr\nmsg.payload.dldata.macAddr = \"04000476\";\nmsg.payload.dldata.extra.txpara = 34; //Old IDU Class C\n//msg.payload.dldata.extra.txpara = \"22\"; //New IDU & ODU Class C, Class C don't have comfirmed (\"26\")\n//return blynk_data;\nreturn msg;","outputs":"1","noerr":0,"x":545.0000076293945,"y":177.00000190734863,"wires":[["a9a9a215.4eba3","6a33c56d.b8ce4c"]]},{"id":"a9a9a215.4eba3","type":"debug","z":"51f949d9.b75c88","name":"","active":true,"console":"false","complete":"payload","x":872.1666793823242,"y":142.1111135482788,"wires":[]},{"id":"13eb1fca.bc4b5","type":"comment","z":"ca2a9d00.3835d","name":"DHT11傳溫度資料給手機","info":"","x":491.1666564941406,"y":109.00000286102295,"wires":[]},{"id":"c3789bbf.3f73e8","type":"debug","z":"51f949d9.b75c88","name":"","active":false,"console":"false","complete":"false","x":850.1666793823242,"y":347.88889503479004,"wires":[]},{"id":"f374ee7f.8638d","type":"debug","z":"51f949d9.b75c88","name":"","active":false,"console":"false","complete":"payload","x":854.1666793823242,"y":413.88889503479004,"wires":[]},{"id":"d6e8c776.5817c8","type":"comment","z":"51f949d9.b75c88","name":"更改 Project Key 為自己 blynk app 的 AUTH Token","info":"","x":229.16665649414062,"y":54.777785301208496,"wires":[]},{"id":"c1ca85c6.3044b8","type":"comment","z":"51f949d9.b75c88","name":"改MacAddr 為自己的","info":"","x":532.1666870117188,"y":139.7777862548828,"wires":[]},{"id":"9ef9ac4.d65925","type":"inject","z":"ca2a9d00.3835d","name":"Test Input 20 Now","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"x":510,"y":160,"wires":[["7ef7f9ca.12af38"]]},{"id":"c0182169.5fc85","type":"exec","z":"2e4b7825.6675d8","command":"sudo netstat","addpay":true,"append":"-anpt","useSpawn":"false","timer":"","oldrc":false,"name":"","x":459.5,"y":313.3888854980469,"wires":[["e1cccb26.105098"],[],[]]},{"id":"42977fa7.217ce","type":"inject","z":"2e4b7825.6675d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":261.5,"y":311.5555725097656,"wires":[["c0182169.5fc85"]]},{"id":"19500131.352e8f","type":"ui_gauge","z":"72fa5a19.1dea94","name":"","group":"470d6a49.255fc4","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":830.9999885559082,"y":198,"wires":[]},{"id":"71bfd77f.e7b668","type":"exec","z":"72fa5a19.1dea94","command":"sudo vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"RPi Temp.","x":470.9999885559082,"y":198,"wires":[["51f76c2c.4993a4","afb7b483.b0d9f8"],[],[]]},{"id":"9bb3d372.00acb","type":"inject","z":"72fa5a19.1dea94","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":265.4999885559082,"y":206.25,"wires":[["71bfd77f.e7b668","8ba2d667.dca908","8f67d5a8.7132a8"]]},{"id":"51f76c2c.4993a4","type":"function","z":"72fa5a19.1dea94","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":650.9999885559082,"y":198,"wires":[["19500131.352e8f","364e2526.57540a"]]},{"id":"364e2526.57540a","type":"ui_chart","z":"72fa5a19.1dea94","name":"","group":"470d6a49.255fc4","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":830.9999885559082,"y":238,"wires":[[],[]]},{"id":"8ba2d667.dca908","type":"exec","z":"72fa5a19.1dea94","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"CPU Load","x":470.9999885559082,"y":278,"wires":[["580dd6a7.99dae8","afb7b483.b0d9f8"],[],[]]},{"id":"8f67d5a8.7132a8","type":"exec","z":"72fa5a19.1dea94","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":470.9999885559082,"y":358,"wires":[["38d718ef.4fa518"],[],[]]},{"id":"580dd6a7.99dae8","type":"ui_gauge","z":"72fa5a19.1dea94","name":"","group":"470d6a49.255fc4","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":830.9999885559082,"y":278,"wires":[]},{"id":"38d718ef.4fa518","type":"ui_gauge","z":"72fa5a19.1dea94","name":"","group":"ea111276.32381","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":830.9999885559082,"y":358,"wires":[]},{"id":"ae3abb28.565c38","type":"exec","z":"72fa5a19.1dea94","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":470.9999885559082,"y":438,"wires":[["32f102d9.02d9ee"],[],[]]},{"id":"93233bbe.df3978","type":"ui_gauge","z":"72fa5a19.1dea94","name":"","group":"87209c20.24f24","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":830.9999885559082,"y":438,"wires":[]},{"id":"32f102d9.02d9ee","type":"function","z":"72fa5a19.1dea94","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":650.9999885559082,"y":438,"wires":[["93233bbe.df3978"]]},{"id":"2305c2ca.58d24e","type":"inject","z":"72fa5a19.1dea94","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":270.9999885559082,"y":438,"wires":[["ae3abb28.565c38"]]},{"id":"afb7b483.b0d9f8","type":"debug","z":"72fa5a19.1dea94","name":"","active":false,"console":"false","complete":"false","x":643.166675567627,"y":152.7638931274414,"wires":[]},{"id":"a72f65a4.7c0878","type":"file","z":"ef98894a.a1b718","name":"test","filename":"test","appendNewline":true,"createDir":true,"overwriteFile":"false","x":809.1666984558105,"y":407.0000057220459,"wires":[]},{"id":"6eb0cb7a.dd4f14","type":"file in","z":"ef98894a.a1b718","name":"","filename":"test","format":"utf8","chunk":false,"sendError":false,"x":218.16665649414062,"y":457,"wires":[["24ad5aac.0f8f26"]]},{"id":"24ad5aac.0f8f26","type":"debug","z":"ef98894a.a1b718","name":"","active":true,"console":"false","complete":"false","x":461.16668701171875,"y":463.11114501953125,"wires":[]},{"id":"fc61fa9c.ac74d8","type":"inject","z":"ef98894a.a1b718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.16667175292969,"y":362.5555725097656,"wires":[["6eb0cb7a.dd4f14"]]},{"id":"47ffb7d0.d82738","type":"debug","z":"b2dd78f7.292618","name":"Output","active":true,"console":"false","complete":"payload","x":976,"y":339,"wires":[]},{"id":"c1071994.15b2e8","type":"debug","z":"b2dd78f7.292618","name":"2nd Output","active":true,"console":"false","complete":"payload","x":996,"y":419,"wires":[]},{"id":"11e36ed.9db7691","type":"debug","z":"b2dd78f7.292618","name":"3rd Output","active":true,"console":"false","complete":"payload","x":996,"y":499,"wires":[]},{"id":"e92a52af.85ada","type":"function","z":"b2dd78f7.292618","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":476,"y":239,"wires":[["47ffb7d0.d82738"]]},{"id":"a84ed080.f76db","type":"function","z":"b2dd78f7.292618","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":446,"y":279,"wires":[["47ffb7d0.d82738"]]},{"id":"2b0124da.ad3d6c","type":"function","z":"b2dd78f7.292618","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":446,"y":359,"wires":[["47ffb7d0.d82738"],["c1071994.15b2e8"],["11e36ed.9db7691"]]},{"id":"155001b8.3c4e0e","type":"function","z":"b2dd78f7.292618","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":406,"y":419,"wires":[["47ffb7d0.d82738"],["c1071994.15b2e8"],["11e36ed.9db7691"]]},{"id":"466bb2b7.3162fc","type":"function","z":"b2dd78f7.292618","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":499,"wires":[["47ffb7d0.d82738","14a5b019.57d4d"]]},{"id":"9faadce8.7f4c","type":"function","z":"b2dd78f7.292618","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":539,"wires":[["47ffb7d0.d82738","14a5b019.57d4d"]]},{"id":"faf9c099.0481","type":"function","z":"b2dd78f7.292618","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":579,"wires":[["47ffb7d0.d82738","3c2e0647.18a8fa"]]},{"id":"13a1fff6.045ee","type":"function","z":"b2dd78f7.292618","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":426,"y":139,"wires":[["47ffb7d0.d82738"]]},{"id":"3c2e0647.18a8fa","type":"json","z":"b2dd78f7.292618","name":"","x":616,"y":579,"wires":[["c1071994.15b2e8","14a5b019.57d4d"]]},{"id":"14a5b019.57d4d","type":"function","z":"b2dd78f7.292618","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":489,"wires":[["11e36ed.9db7691"]]},{"id":"445154e2.5df47c","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":239,"wires":[["e92a52af.85ada"]]},{"id":"537909db.56d9c8","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":279,"wires":[["a84ed080.f76db"]]},{"id":"5373a49a.e5885c","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":359,"wires":[["2b0124da.ad3d6c"]]},{"id":"db5ba03f.4b8f4","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":419,"wires":[["155001b8.3c4e0e"]]},{"id":"d70c4958.a5c668","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":499,"wires":[["466bb2b7.3162fc"]]},{"id":"7699cafd.3f4344","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":539,"wires":[["9faadce8.7f4c"]]},{"id":"1f5e9505.68c89b","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":579,"wires":[["faf9c099.0481"]]},{"id":"6a6e5689.a5dd18","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":136,"y":139,"wires":[["13a1fff6.045ee"]]},{"id":"abee7910.017448","type":"function","z":"b2dd78f7.292618","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":406,"y":639,"wires":[["47ffb7d0.d82738"]]},{"id":"1879b18f.eed60e","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":639,"wires":[["abee7910.017448"]]},{"id":"6cb15ffd.4b0d2","type":"catch","z":"b2dd78f7.292618","name":"Catch node","scope":["abee7910.017448"],"x":456,"y":679,"wires":[["187b6424.27fc1c"]]},{"id":"2ecf8fb9.4982f","type":"function","z":"b2dd78f7.292618","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":456,"y":99,"wires":[["47ffb7d0.d82738"]]},{"id":"3767bed7.b3a752","type":"inject","z":"b2dd78f7.292618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":99,"wires":[["2ecf8fb9.4982f"]]},{"id":"187b6424.27fc1c","type":"debug","z":"b2dd78f7.292618","name":"entire msg","active":true,"console":"false","complete":"true","x":996,"y":579,"wires":[]},{"id":"b10100bd.f078e","type":"comment","z":"c1bc2800.6b2f88","name":"修改成樹莓派的IP Addr","info":"","x":633.166675567627,"y":55.22222328186035,"wires":[]},{"id":"858df84b.630db8","type":"blynk-websockets-out-write","z":"ca2a9d00.3835d","name":"Android-V8","pin":"8","client":"3c7f14a9.2b32dc","x":890.0000114440918,"y":365.0000047683716,"wires":[]},{"id":"b287e7ef.4bc218","type":"debug","z":"23171de9.a1fde2","name":"","active":false,"console":"false","complete":"payload","x":684.0000076293945,"y":95.00000286102295,"wires":[]},{"id":"4168da32.c18e24","type":"debug","z":"23171de9.a1fde2","name":"","active":false,"console":"false","complete":"true","x":394.5,"y":75,"wires":[]},{"id":"ffcb910c.90bee","type":"comment","z":"23171de9.a1fde2","name":"Add config here","info":"please go to https://cust00-01.giotgateway.com/giot-mqtt/to get your mqtt confugeration","x":157.00000762939453,"y":201.00000286102295,"wires":[]},{"id":"260b7f2f.4f69c","type":"json","z":"23171de9.a1fde2","name":"","x":521.0000076293945,"y":310.0000047683716,"wires":[["cd263488.211968","d998ff50.9bea6"]]},{"id":"b93a9929.a92048","type":"mqtt in","z":"23171de9.a1fde2","name":"LoRa Node","topic":"client/200000020/200000020-GIOT-MAKER","qos":"2","broker":"71f422e4.0f062c","x":156,"y":139,"wires":[["4168da32.c18e24","c9e4e1e3.f5de3"]]},{"id":"cd263488.211968","type":"debug","z":"23171de9.a1fde2","name":"","active":false,"console":"false","complete":"false","x":734.0000114440918,"y":307.0000047683716,"wires":[]},{"id":"c9e4e1e3.f5de3","type":"function","z":"23171de9.a1fde2","name":"Temperature Hex decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\n\n//decode hex to string\nvar pm = parseInt(dat.substr(0,4),16)/100;      //Voltage的資訊\n\nvar temp = parseInt(dat.substr(4,2),16);    //Temp.Celsius資訊\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n pm : pm,\n tem: temp\n\n });\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":175,"wires":[["260b7f2f.4f69c","b287e7ef.4bc218"]]},{"id":"3aa2ea8f.507326","type":"inject","z":"23171de9.a1fde2","name":"LoRa test input","topic":"","payload":"{\"id\":\"43c00b0f-fc31-49cd-9563-457cecdc6426\",\"macAddr\":\"0400012c\",\"data\":\"01eb1c\",\"buff\":\"2016-04-29T11:30:21.176Z\",\"recv\":\"2016-04-29T11:30:20.000Z\",\"extra\":{\"gwip\":\"172.16.4.20\",\"gwid\":\"00001c497b3b805e\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-85,\"snr\":102}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":164,"y":106,"wires":[["c9e4e1e3.f5de3","4168da32.c18e24"]]},{"id":"ac61f675.ac0c98","type":"ui_chart","z":"23171de9.a1fde2","name":"","group":"89057f71.75c62","order":0,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":760.5000114440918,"y":518.0000095367432,"wires":[[],[]]},{"id":"6616dfe1.f6d93","type":"ui_gauge","z":"23171de9.a1fde2","name":"","group":"89057f71.75c62","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770.5000114440918,"y":416.00000762939453,"wires":[]},{"id":"a339cdb5.5f101","type":"ui_text","z":"23171de9.a1fde2","group":"89057f71.75c62","order":0,"width":0,"height":0,"name":"","label":"temperature text","format":"{{msg.payload}}","layout":"col-center","x":779.5000114440918,"y":466.00000858306885,"wires":[]},{"id":"d998ff50.9bea6","type":"function","z":"23171de9.a1fde2","name":"GetTemp","func":"var tem = { payload:msg.payload.tem }\nvar pm={ payload:msg.payload.pm }\nreturn [tem,pm]","outputs":"2","noerr":0,"x":507,"y":441,"wires":[["6616dfe1.f6d93","a339cdb5.5f101"],["ac61f675.ac0c98"]]}]
