hello_world.js
[{"id":"e1cccb26.105098","type":"debug","z":"2e4b7825.6675d8","name":"","active":true,"complete":"payload","x":676,"y":214,"wires":[]},{"id":"fc0abb72.174518","type":"inject","z":"2e4b7825.6675d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286,"y":214,"wires":[["5743b577.f84d6c"]]},{"id":"5743b577.f84d6c","type":"function","z":"2e4b7825.6675d8","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = \"hello world\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":214,"wires":[["e1cccb26.105098"]]}]
