private_mqtt_sub.js
[{"id":"ac65fee8.cc3c5","type":"tab","label":"Flow 1"},{"id":"c7dba11a.ffe3b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"2","willPayload":"","birthTopic":"","birthQos":"2","birthPayload":""},{"id":"f080fa03.7f99a8","type":"mqtt in","z":"ac65fee8.cc3c5","name":"mqtt sub","topic":"#","qos":"2","broker":"c7dba11a.ffe3b","x":190.20001220703125,"y":168,"wires":[["ec2f261.53e55d8","ca3c0c8d.46a8e"]]},{"id":"ec2f261.53e55d8","type":"debug","z":"ac65fee8.cc3c5","name":"All json","active":false,"console":"false","complete":"payload","x":456.2000274658203,"y":168,"wires":[]},{"id":"ca3c0c8d.46a8e","type":"switch","z":"ac65fee8.cc3c5","name":"Gateway Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"GIOT-GW/UL/1C497B499010","vt":"str"},{"t":"eq","v":"GIOT-GW/DL/00001c497b431fcd","vt":"str"},{"t":"eq","v":"GIOT-GW/DL/00001c497b48dc11","vt":"str"},{"t":"eq","v":"GIOT-GW/UL/1C497B4321AA","vt":"str"},{"t":"eq","v":"#","vt":"str"}],"checkall":"true","outputs":5,"x":297.2000274658203,"y":311.00001525878906,"wires":[["921d5227.b4d4a","363ddb05.3b9364"],["1291966f.cf743a"],["5d703fc1.dc26a"],["d4e6e677.111ba8"],["60f6623b.5e2dbc"]]},{"id":"921d5227.b4d4a","type":"debug","z":"ac65fee8.cc3c5","name":"IDU UL","active":true,"console":"false","complete":"payload","x":488.20001220703125,"y":281.0000305175781,"wires":[]},{"id":"1291966f.cf743a","type":"debug","z":"ac65fee8.cc3c5","name":"ODU UL","active":false,"console":"false","complete":"payload","x":482.2000274658203,"y":317.0000457763672,"wires":[]},{"id":"5d703fc1.dc26a","type":"debug","z":"ac65fee8.cc3c5","name":"ODU DL","active":false,"console":"false","complete":"payload","x":479.20001220703125,"y":351.0000305175781,"wires":[]},{"id":"d4e6e677.111ba8","type":"debug","z":"ac65fee8.cc3c5","name":"IDU DL","active":false,"console":"false","complete":"payload","x":475.20001220703125,"y":386.0000305175781,"wires":[]},{"id":"8e7f3f7c.9aa8d","type":"function","z":"ac65fee8.cc3c5","name":"get payload.data","func":"var payload = msg.payload[0];\nmsg.payload = payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":557.2000274658203,"y":219,"wires":[["121526d5.798a29"]]},{"id":"363ddb05.3b9364","type":"json","z":"ac65fee8.cc3c5","name":"","x":399.2000274658203,"y":219,"wires":[["8e7f3f7c.9aa8d"]]},{"id":"121526d5.798a29","type":"debug","z":"ac65fee8.cc3c5","name":"json debug","active":false,"console":"false","complete":"payload","x":759.2000274658203,"y":221,"wires":[]},{"id":"66007b8e.934db4","type":"comment","z":"ac65fee8.cc3c5","name":"GIoT private MQTT Flow","info":"","x":223.20001220703125,"y":127,"wires":[]},{"id":"60f6623b.5e2dbc","type":"debug","z":"ac65fee8.cc3c5","name":"All Data","active":true,"console":"false","complete":"payload","x":482.49998474121094,"y":444.0000457763672,"wires":[]}]
