solaris_project.json
[
    {
        "id": "5c441759e2734c24",
        "type": "tab",
        "label": "太陽能版",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f4ea2713cc0fdb6",
        "type": "mqtt-broker",
        "name": "sol-mqtt",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a2f2943.8640a6",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "2",
        "willPayload": ""
    },
    {
        "id": "63d6e1dacf4aad0e",
        "type": "ui_tab",
        "name": "歷史紀錄",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bd7914291245f1d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "太陽能板健康監控",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "723379c69578ddb2",
        "type": "ui_group",
        "name": "一號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de4f6f425e9e5d7a",
        "type": "ui_tab",
        "name": "告警狀態",
        "icon": "check",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2358e2f987375741",
        "type": "ui_group",
        "name": "二號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e09e6b64da968877",
        "type": "ui_group",
        "name": "狀態版",
        "tab": "de4f6f425e9e5d7a",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "de7bd606ee13496d",
        "type": "ui_group",
        "name": "三號太陽能版",
        "tab": "63d6e1dacf4aad0e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9a2613ffc344850d",
        "type": "ui_group",
        "name": "四號太陽能版",
        "tab": "63d6e1dacf4aad0e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3da5a73f5bf97f20",
        "type": "ui_group",
        "name": "五號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e050f23dcf1fb3e5",
        "type": "ui_group",
        "name": "六號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ada2e226c1b88ce8",
        "type": "ui_group",
        "name": "七號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6178986443ba0c97",
        "type": "ui_group",
        "name": "八號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bcf62a2d4726a2b",
        "type": "ui_group",
        "name": "九號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c1681aa61e33f64",
        "type": "ui_group",
        "name": "十號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2c82d6e60b71c33",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "f1103b5ca615263c",
        "type": "ui_group",
        "name": "Default",
        "tab": "b2c82d6e60b71c33",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf974181e3d178e7",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "de4f6f425e9e5d7a",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "ab7db771.fa0e38",
        "type": "mqtt in",
        "z": "5c441759e2734c24",
        "name": "mqtt sub",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "3a2f2943.8640a6",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "afd9cf79.ba28f",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "All json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "daee5d8d.93dda",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "太陽能班排長",
        "func": "var payload = msg.payload[0];\nfunction hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n//bin_string = (parseInt(payload.data, 16).toString(2)).padStart(8, '0');\n// return msg;\nascii_string = hex_to_ascii(msg.payload[0].data)\nvar msg1 = { contry_code:ascii_string.slice(0,3)};\n// var msg1 = { payload: ascii_string};\nvar msg2 = { area_code:  ascii_string.slice(3,5)};\nvar msg3 = { local_area: ascii_string.slice(5,7)};\nvar msg4 = { sort_id:    ascii_string.slice(7,9)};\nvar msg5 = { data_number:ascii_string.slice(9,12)};\nvar msg6 = { ID1:        ascii_string.slice(12,15)};\nvar msg7 = { ID2:        ascii_string.slice(15,18)};\nvar T1_00 = { payload:      ascii_string.slice(18,20)};\nvar T2_00 = { payload:      ascii_string.slice(20,22)};\nvar V0_00 = { payload:      ascii_string.slice(22,25)/10};\nvar T1_01 = { payload:      ascii_string.slice(25,27)};\nvar T2_01 = { payload:      ascii_string.slice(27,29)};\nvar V0_01 = { payload:      ascii_string.slice(29,32)/10};\nvar T1_02 = { payload:      ascii_string.slice(32,34)};\nvar T2_02 = { payload:      ascii_string.slice(34,36)};\nvar V0_02 = { payload:      ascii_string.slice(36,39)/10};\nvar T1_03 = { payload:      ascii_string.slice(39,41)};\nvar T2_03 = { payload:      ascii_string.slice(41,43)};\nvar V0_03 = { payload:      ascii_string.slice(43,46)/10};\nvar T1_04 = { payload:      ascii_string.slice(46,48)};\nvar T2_04 = { payload:      ascii_string.slice(48,50)};\nvar V0_04 = { payload:      ascii_string.slice(50,54)/10};\nvar T1_05 = { payload:      ascii_string.slice(54,56)};\nvar T2_05 = { payload:      ascii_string.slice(56,58)};\nvar V0_05 = { payload:      ascii_string.slice(58,61)/10};\nvar T1_06 = { payload:      ascii_string.slice(61,63)};\nvar T2_06 = { payload:      ascii_string.slice(63,65)};\nvar V0_06 = { payload:      ascii_string.slice(65,68)/10};\nvar T1_07 = { payload:      ascii_string.slice(68,70)};\nvar T2_07 = { payload:      ascii_string.slice(70,72)};\nvar V0_07 = { payload:      ascii_string.slice(72,75)/10};\nvar T1_08 = { payload:      ascii_string.slice(75,77)};\nvar T2_08 = { payload:      ascii_string.slice(77,79)};\nvar V0_08 = { payload:      ascii_string.slice(79,82)/10};\nvar T1_09 = { payload:      ascii_string.slice(82,84)};\nvar T2_09 = { payload:      ascii_string.slice(84,86)};\nvar V0_09 = { payload:      ascii_string.slice(86,89)/10};\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, \n    T1_00, T2_00, V0_00, \n    T1_01, T2_01, V0_01, \n    T1_02, T2_02, V0_02, \n    T1_03, T2_03, V0_03, \n    T1_04, T2_04, V0_04, \n    T1_05, T2_05, V0_05, \n    T1_06, T2_06, V0_06, \n    T1_07, T2_07, V0_07, \n    T1_08, T2_08, V0_08, \n    T1_09, T2_09, V0_09, \n    T1_10, T2_10, V0_10 ];",
        "outputs": 37,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 680,
        "wires": [
            [
                "bc298137.ab8b7"
            ],
            [
                "824305559f23f9d5"
            ],
            [
                "690f9dd6b61da5df"
            ],
            [],
            [
                "53b3c4f9d6e16afa"
            ],
            [],
            [],
            [
                "d6adf4aec81c606e",
                "5c633e9015ee7e7a",
                "89ba7c33d4f030a1"
            ],
            [
                "2ab0a61b78a0935b",
                "ce55fc427dfa53f4",
                "bf2f003632b3560f"
            ],
            [
                "6f6db94454568853",
                "40453f3c40e2dd21",
                "68a6c3c496c6ad53"
            ],
            [
                "a8b0774b14a75b2c",
                "8d9031ea6a6394df"
            ],
            [
                "80365b1aa8f3a033",
                "6c5de595eb4cb17f"
            ],
            [
                "7162b28b406408ae",
                "d9a0a9e0bc91b0fe"
            ],
            [
                "6536cb5d9ec40508",
                "a054b1412db37acf"
            ],
            [
                "330670da928ce502",
                "55068460245647a0"
            ],
            [
                "7f1aabc715013c60"
            ],
            [
                "e650722ff60e831b"
            ],
            [
                "ef19cd193bb1160e"
            ],
            [
                "1658e87ffe2cb844"
            ],
            [
                "0204de609ababc7a"
            ],
            [
                "c2fa301e251fecfa"
            ],
            [
                "6b02a8aca20c6f54"
            ],
            [
                "f6ede9e0faebe15c"
            ],
            [
                "c7c83b21ac1468f2"
            ],
            [
                "65c2704f1abb5aa6"
            ],
            [
                "006b80561792ecea"
            ],
            [
                "786b683e65ce67d0"
            ],
            [
                "f5707ac024c0388c"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "國碼",
            "區碼",
            "場域碼",
            "排序",
            "資料",
            "ID1",
            "ID2",
            "T1_00",
            "T2_00",
            "V_00",
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
        ]
    },
    {
        "id": "f1e16b5a.b9cc58",
        "type": "json",
        "z": "5c441759e2734c24",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "daee5d8d.93dda",
                "afd9cf79.ba28f"
            ]
        ]
    },
    {
        "id": "bc298137.ab8b7",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "json debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "3062143c.cab28c",
        "type": "comment",
        "z": "5c441759e2734c24",
        "name": "Solaris MQTT Flow",
        "info": "",
        "x": 113,
        "y": 79,
        "wires": []
    },
    {
        "id": "824305559f23f9d5",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "690f9dd6b61da5df",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "53b3c4f9d6e16afa",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "d6adf4aec81c606e",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ab0a61b78a0935b",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f6db94454568853",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "40453f3c40e2dd21",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ce55fc427dfa53f4",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5c633e9015ee7e7a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7162b28b406408ae",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "80365b1aa8f3a033",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b0774b14a75b2c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8a98e89dddea06",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 1,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "一號溫度T1",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "89ba7c33d4f030a1",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "ad8a98e89dddea06"
            ]
        ]
    },
    {
        "id": "b1c93dbc59df2d77",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 2,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號溫度T2",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "bf2f003632b3560f",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "b1c93dbc59df2d77"
            ]
        ]
    },
    {
        "id": "1ee0fbd4c1746434",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 3,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號電壓",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "68a6c3c496c6ad53",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "1ee0fbd4c1746434"
            ]
        ]
    },
    {
        "id": "29a7aa76246e730d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "8d9031ea6a6394df",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 600,
        "wires": [
            [
                "29a7aa76246e730d"
            ]
        ]
    },
    {
        "id": "9699a8c78c79e1e9",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "6c5de595eb4cb17f",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "9699a8c78c79e1e9"
            ]
        ]
    },
    {
        "id": "7cf0b56ae31889c6",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "d9a0a9e0bc91b0fe",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "7cf0b56ae31889c6"
            ]
        ]
    },
    {
        "id": "7f1aabc715013c60",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "330670da928ce502",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6536cb5d9ec40508",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "92a0c3f45ff64860",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "三號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "三號溫度T1",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "a054b1412db37acf",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 760,
        "wires": [
            [
                "92a0c3f45ff64860"
            ]
        ]
    },
    {
        "id": "66de16a037c50f43",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號溫度T2",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "55068460245647a0",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "66de16a037c50f43"
            ]
        ]
    },
    {
        "id": "49d827b0e31b4575",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "三號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號電壓",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "767fa7694beb6414",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 840,
        "wires": [
            [
                "49d827b0e31b4575"
            ]
        ]
    },
    {
        "id": "1658e87ffe2cb844",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ef19cd193bb1160e",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e650722ff60e831b",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "9359f3478f7804e8",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "91ad6417699bc0c8",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 920,
        "wires": [
            [
                "9359f3478f7804e8"
            ]
        ]
    },
    {
        "id": "0f93cfa890e67a69",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "f6e641dee47d05b4",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 960,
        "wires": [
            [
                "0f93cfa890e67a69"
            ]
        ]
    },
    {
        "id": "9a1f2bb2a3a588ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f109da08dc2b8609",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "9a1f2bb2a3a588ee"
            ]
        ]
    },
    {
        "id": "6b02a8aca20c6f54",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c2fa301e251fecfa",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "0204de609ababc7a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "a4f53b44d2c7e813",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 1060,
        "wires": []
    },
    {
        "id": "168c3d7345727d09",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "a4f53b44d2c7e813"
            ]
        ]
    },
    {
        "id": "d12221b1f9079bac",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 1100,
        "wires": []
    },
    {
        "id": "46fa8fdb23753145",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "d12221b1f9079bac"
            ]
        ]
    },
    {
        "id": "8705c068fe81f91a",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cff2b389770b8a3a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "8705c068fe81f91a"
            ]
        ]
    },
    {
        "id": "65c2704f1abb5aa6",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "c7c83b21ac1468f2",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f6ede9e0faebe15c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "ca1a807684ed9dcc",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3a348f5ef2aec474",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1220,
        "wires": [
            [
                "ca1a807684ed9dcc"
            ]
        ]
    },
    {
        "id": "30823a954ced726c",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d32229986aa9a3a1",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1260,
        "wires": [
            [
                "30823a954ced726c"
            ]
        ]
    },
    {
        "id": "81b994a4a90c11ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 1300,
        "wires": []
    },
    {
        "id": "328b50e938cc9a37",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "81b994a4a90c11ee"
            ]
        ]
    },
    {
        "id": "f5707ac024c0388c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "786b683e65ce67d0",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "006b80561792ecea",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "cb2d16488869034d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 1380,
        "wires": []
    },
    {
        "id": "956a49f505860bd7",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "cb2d16488869034d"
            ]
        ]
    },
    {
        "id": "5e9aa38f08e23c67",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8fee02c0d2d2d08a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1420,
        "wires": [
            [
                "5e9aa38f08e23c67"
            ]
        ]
    },
    {
        "id": "7077d305fc02c9b4",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0a77c64c594878e2",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "7077d305fc02c9b4"
            ]
        ]
    }
]