solaris_project.json
[
    {
        "id": "5c441759e2734c24",
        "type": "tab",
        "label": "太陽能版",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f4ea2713cc0fdb6",
        "type": "mqtt-broker",
        "name": "sol-mqtt",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3a2f2943.8640a6",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "2",
        "willPayload": ""
    },
    {
        "id": "63d6e1dacf4aad0e",
        "type": "ui_tab",
        "name": "歷史紀錄",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bd7914291245f1d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "723379c69578ddb2",
        "type": "ui_group",
        "name": "一號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de4f6f425e9e5d7a",
        "type": "ui_tab",
        "name": "告警狀態",
        "icon": "check",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2358e2f987375741",
        "type": "ui_group",
        "name": "二號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e09e6b64da968877",
        "type": "ui_group",
        "name": "狀態版",
        "tab": "de4f6f425e9e5d7a",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "de7bd606ee13496d",
        "type": "ui_group",
        "name": "三號太陽能版",
        "tab": "63d6e1dacf4aad0e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9a2613ffc344850d",
        "type": "ui_group",
        "name": "四號太陽能版",
        "tab": "63d6e1dacf4aad0e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3da5a73f5bf97f20",
        "type": "ui_group",
        "name": "五號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e050f23dcf1fb3e5",
        "type": "ui_group",
        "name": "六號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ada2e226c1b88ce8",
        "type": "ui_group",
        "name": "七號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6178986443ba0c97",
        "type": "ui_group",
        "name": "八號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bcf62a2d4726a2b",
        "type": "ui_group",
        "name": "九號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c1681aa61e33f64",
        "type": "ui_group",
        "name": "十號太陽能板",
        "tab": "63d6e1dacf4aad0e",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2c82d6e60b71c33",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "f1103b5ca615263c",
        "type": "ui_group",
        "name": "Default",
        "tab": "b2c82d6e60b71c33",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf974181e3d178e7",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "de4f6f425e9e5d7a",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "ab7db771.fa0e38",
        "type": "mqtt in",
        "z": "5c441759e2734c24",
        "name": "mqtt sub",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "3a2f2943.8640a6",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "afd9cf79.ba28f",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "All json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "daee5d8d.93dda",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "get payload.data",
        "func": "var payload = msg.payload[0];\nfunction hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n//bin_string = (parseInt(payload.data, 16).toString(2)).padStart(8, '0');\n// return msg;\nascii_string = hex_to_ascii(msg.payload[0].data)\nvar msg1 = { contry_code:ascii_string.slice(0,3)};\n// var msg1 = { payload: ascii_string};\nvar msg2 = { area_code:  ascii_string.slice(3,5)};\nvar msg3 = { local_area: ascii_string.slice(5,7)};\nvar msg4 = { sort_id:    ascii_string.slice(7,9)};\nvar msg5 = { data_number:ascii_string.slice(9,12)};\nvar msg6 = { ID1:        ascii_string.slice(12,15)};\nvar msg7 = { ID2:        ascii_string.slice(15,18)};\nvar T1_00 = { payload:      ascii_string.slice(18,20)};\nvar T2_00 = { payload:      ascii_string.slice(20,22)};\nvar V0_00 = { payload:      ascii_string.slice(22,25)/10};\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, T1_00, T2_00, V0_00 ];",
        "outputs": 10,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 340,
        "wires": [
            [
                "bc298137.ab8b7"
            ],
            [
                "824305559f23f9d5"
            ],
            [
                "690f9dd6b61da5df"
            ],
            [],
            [
                "53b3c4f9d6e16afa"
            ],
            [],
            [],
            [
                "d6adf4aec81c606e",
                "5c633e9015ee7e7a",
                "a8b0774b14a75b2c",
                "89ba7c33d4f030a1",
                "8d9031ea6a6394df"
            ],
            [
                "2ab0a61b78a0935b",
                "ce55fc427dfa53f4",
                "80365b1aa8f3a033",
                "bf2f003632b3560f",
                "6c5de595eb4cb17f"
            ],
            [
                "6f6db94454568853",
                "40453f3c40e2dd21",
                "7162b28b406408ae",
                "68a6c3c496c6ad53",
                "d9a0a9e0bc91b0fe"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "國碼",
            "區碼",
            "場域碼",
            "排序",
            "資料",
            "ID1",
            "ID2",
            "T1_00",
            "T2_00",
            "V_00"
        ]
    },
    {
        "id": "f1e16b5a.b9cc58",
        "type": "json",
        "z": "5c441759e2734c24",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "daee5d8d.93dda",
                "afd9cf79.ba28f"
            ]
        ]
    },
    {
        "id": "bc298137.ab8b7",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "json debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "3062143c.cab28c",
        "type": "comment",
        "z": "5c441759e2734c24",
        "name": "Solaris MQTT Flow",
        "info": "",
        "x": 113,
        "y": 79,
        "wires": []
    },
    {
        "id": "824305559f23f9d5",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "690f9dd6b61da5df",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "53b3c4f9d6e16afa",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "d6adf4aec81c606e",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ab0a61b78a0935b",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f6db94454568853",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "40453f3c40e2dd21",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 130,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ce55fc427dfa53f4",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5c633e9015ee7e7a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 130,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "7162b28b406408ae",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "80365b1aa8f3a033",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b0774b14a75b2c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8a98e89dddea06",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 1,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "一號T1",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "89ba7c33d4f030a1",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "ad8a98e89dddea06"
            ]
        ]
    },
    {
        "id": "b1c93dbc59df2d77",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 2,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號溫度T2",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "bf2f003632b3560f",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "b1c93dbc59df2d77"
            ]
        ]
    },
    {
        "id": "1ee0fbd4c1746434",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 3,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "一號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號電壓",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "68a6c3c496c6ad53",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "1ee0fbd4c1746434"
            ]
        ]
    },
    {
        "id": "29a7aa76246e730d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "8d9031ea6a6394df",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 600,
        "wires": [
            [
                "29a7aa76246e730d"
            ]
        ]
    },
    {
        "id": "9699a8c78c79e1e9",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "6c5de595eb4cb17f",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "9699a8c78c79e1e9"
            ]
        ]
    },
    {
        "id": "7cf0b56ae31889c6",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "d9a0a9e0bc91b0fe",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            [
                "7cf0b56ae31889c6"
            ]
        ]
    }
]