docker/node-red/.flows.json.backup
[
    {
        "id": "5c441759e2734c24",
        "type": "tab",
        "label": "太陽能版",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "658e28f743501267",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a2f2943.8640a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "723379c69578ddb2",
        "type": "ui_group",
        "name": "班兵1",
        "tab": "63d6e1dacf4aad0e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2358e2f987375741",
        "type": "ui_group",
        "name": "班兵2",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e09e6b64da968877",
        "type": "ui_group",
        "z": "5c441759e2734c24",
        "name": "班兵2",
        "tab": "de4f6f425e9e5d7a",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63d6e1dacf4aad0e",
        "type": "ui_tab",
        "name": "歷史紀錄",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de4f6f425e9e5d7a",
        "type": "ui_tab",
        "name": "告警狀態",
        "icon": "check",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "49929dab3daad902",
        "type": "ui_tab",
        "name": "感測數值",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e428bbd258f4cca6",
        "type": "ui_group",
        "name": "Table",
        "tab": "49929dab3daad902",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "249c40fa652cd3a7",
        "type": "ui_group",
        "name": "班兵1",
        "tab": "de4f6f425e9e5d7a",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f68be4ccdb008527",
        "type": "ui_group",
        "name": "班兵3",
        "tab": "de4f6f425e9e5d7a",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0373efd2544ac4dc",
        "type": "ui_group",
        "name": "班兵4",
        "tab": "de4f6f425e9e5d7a",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e5ac7d8331898c9",
        "type": "ui_group",
        "name": "班兵5",
        "tab": "de4f6f425e9e5d7a",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b81b17d0e501a467",
        "type": "ui_group",
        "name": "班兵6",
        "tab": "de4f6f425e9e5d7a",
        "order": 6,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d42c2a10ec23ea75",
        "type": "ui_group",
        "name": "班兵8",
        "tab": "de4f6f425e9e5d7a",
        "order": 8,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "730aa71f87f989e4",
        "type": "ui_group",
        "name": "班兵9",
        "tab": "de4f6f425e9e5d7a",
        "order": 9,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a520ad11e212b4ee",
        "type": "ui_group",
        "name": "班兵10",
        "tab": "de4f6f425e9e5d7a",
        "order": 10,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3794bc018fa0ad8",
        "type": "ui_group",
        "name": "班兵3",
        "tab": "63d6e1dacf4aad0e",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c474a44075d24df7",
        "type": "ui_group",
        "name": "班兵4",
        "tab": "63d6e1dacf4aad0e",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "819ae822198225e5",
        "type": "ui_group",
        "name": "班兵5",
        "tab": "63d6e1dacf4aad0e",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57e9f1910bec9216",
        "type": "ui_group",
        "name": "班兵6",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47593f38e44cc300",
        "type": "ui_group",
        "name": "班兵7",
        "tab": "de4f6f425e9e5d7a",
        "order": 11,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7b16e5221137228",
        "type": "ui_group",
        "name": "班兵8",
        "tab": "63d6e1dacf4aad0e",
        "order": 7,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f204edd9bd45bd6",
        "type": "ui_group",
        "name": "班兵9",
        "tab": "63d6e1dacf4aad0e",
        "order": 8,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24c4cf333fe093c3",
        "type": "ui_group",
        "name": "班兵10",
        "tab": "63d6e1dacf4aad0e",
        "order": 9,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c07ce06ec5c6e7c2",
        "type": "ui_group",
        "name": "班兵7",
        "tab": "63d6e1dacf4aad0e",
        "order": 10,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab7db771.fa0e38",
        "type": "mqtt in",
        "z": "5c441759e2734c24",
        "name": "mqtt sub",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "3a2f2943.8640a6",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f1e16b5a.b9cc58",
                "142608e40f7e91be"
            ]
        ]
    },
    {
        "id": "afd9cf79.ba28f",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "All json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "daee5d8d.93dda",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "太陽能班排長",
        "func": "var payload = msg.payload[0];\nfunction hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n//bin_string = (parseInt(payload.data, 16).toString(2)).padStart(8, '0');\n// return msg;\nascii_string = hex_to_ascii(msg.payload[0].data)\nvar dict_ascii_string = {};\ndict_ascii_string[\"contry_code\"] =  { payload:ascii_string.slice(0,3)};\ndict_ascii_string[\"area_code\"] =    { payload:ascii_string.slice(3,5)};\ndict_ascii_string[\"local_area\"] =   { payload:ascii_string.slice(5,7)};\ndict_ascii_string[\"sort_id\"] =      { payload:ascii_string.slice(7,9)};\ndict_ascii_string[\"data_number\"] =  { payload:ascii_string.slice(9,12)};\ndict_ascii_string[\"ID1\"] =          { payload:ascii_string.slice(12,15)};\ndict_ascii_string[\"ID2\"] =          { payload:ascii_string.slice(15,18)};\ndict_ascii_string[\"T1_00\"] =    { payload:ascii_string.slice(18,20)};\ndict_ascii_string[\"T2_00\"] =    { payload:ascii_string.slice(20,22)};\ndict_ascii_string[\"V0_00\"] =    { payload:ascii_string.slice(22,25)/10};\ndict_ascii_string[\"T1_01\"] =    { payload:ascii_string.slice(25,27)};\ndict_ascii_string[\"T2_01\"] =    { payload:ascii_string.slice(27,29)};\ndict_ascii_string[\"V0_01\"] =    { payload:ascii_string.slice(29,32)/10};\ndict_ascii_string[\"T1_02\"] =    { payload:ascii_string.slice(32,34)};\ndict_ascii_string[\"T2_02\"] =    { payload:ascii_string.slice(34,36)};\ndict_ascii_string[\"V0_02\"] =    { payload:ascii_string.slice(36,39)/10};\ndict_ascii_string[\"T1_03\"] =    { payload:ascii_string.slice(39,41)};\ndict_ascii_string[\"T2_03\"] =    { payload:ascii_string.slice(41,43)};\ndict_ascii_string[\"V0_03\"] =    { payload:ascii_string.slice(43,46)/10};\ndict_ascii_string[\"T1_04\"] =    { payload:ascii_string.slice(46,48)};\ndict_ascii_string[\"T2_04\"] =    { payload:ascii_string.slice(48,50)};\ndict_ascii_string[\"V0_04\"] =    { payload:ascii_string.slice(50,53)/10};\ndict_ascii_string[\"T1_05\"] =    { payload:ascii_string.slice(53,55)};\ndict_ascii_string[\"T2_05\"] =    { payload:ascii_string.slice(55,57)};\ndict_ascii_string[\"V0_05\"] =    { payload:ascii_string.slice(57,60)/10};\ndict_ascii_string[\"T1_06\"] =    { payload:ascii_string.slice(60,62)};\ndict_ascii_string[\"T2_06\"] =    { payload:ascii_string.slice(62,64)};\ndict_ascii_string[\"V0_06\"] =    { payload:ascii_string.slice(64,67)/10};\ndict_ascii_string[\"T1_07\"] =    { payload:ascii_string.slice(67,69)};\ndict_ascii_string[\"T2_07\"] =    { payload:ascii_string.slice(69,71)};\ndict_ascii_string[\"V0_07\"] =    { payload:ascii_string.slice(71,74)/10};\ndict_ascii_string[\"T1_08\"] =    { payload:ascii_string.slice(74,76)};\ndict_ascii_string[\"T2_08\"] =    { payload:ascii_string.slice(76,78)};\ndict_ascii_string[\"V0_08\"] =    { payload:ascii_string.slice(78,81)/10};\ndict_ascii_string[\"T1_09\"] =    { payload:ascii_string.slice(81,83)};\ndict_ascii_string[\"T2_09\"] =    { payload:ascii_string.slice(83,85)};\ndict_ascii_string[\"V0_09\"] =    { payload:ascii_string.slice(85,88)/10};\nreturn [ dict_ascii_string[\"contry_code\"], \n    dict_ascii_string[\"area_code\"], \n    dict_ascii_string[\"local_area\"], \n    dict_ascii_string[\"sort_id\"], \n    dict_ascii_string[\"data_number\"], \n    dict_ascii_string[\"ID1\"], \n    dict_ascii_string[\"ID2\"], \n    dict_ascii_string[\"T1_00\"], \n    dict_ascii_string[\"T2_00\"], \n    dict_ascii_string[\"V0_00\"], \n    dict_ascii_string[\"T1_01\"], \n    dict_ascii_string[\"T2_01\"], \n    dict_ascii_string[\"V0_01\"], \n    dict_ascii_string[\"T1_02\"], \n    dict_ascii_string[\"T2_02\"], \n    dict_ascii_string[\"V0_02\"], \n    dict_ascii_string[\"T1_03\"], \n    dict_ascii_string[\"T2_03\"], \n    dict_ascii_string[\"V0_03\"], \n    dict_ascii_string[\"T1_04\"], \n    dict_ascii_string[\"T2_04\"], \n    dict_ascii_string[\"V0_04\"], \n    dict_ascii_string[\"T1_05\"], \n    dict_ascii_string[\"T2_05\"], \n    dict_ascii_string[\"V0_05\"], \n    dict_ascii_string[\"T1_06\"], \n    dict_ascii_string[\"T2_06\"], \n    dict_ascii_string[\"V0_06\"], \n    dict_ascii_string[\"T1_07\"], \n    dict_ascii_string[\"T2_07\"], \n    dict_ascii_string[\"V0_07\"], \n    dict_ascii_string[\"T1_08\"], \n    dict_ascii_string[\"T2_08\"], \n    dict_ascii_string[\"V0_08\"], \n    dict_ascii_string[\"T1_09\"], \n    dict_ascii_string[\"T2_09\"], \n    dict_ascii_string[\"V0_09\"],\n    dict_ascii_string];",
        "outputs": 38,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 680,
        "wires": [
            [
                "bc298137.ab8b7"
            ],
            [
                "824305559f23f9d5"
            ],
            [
                "690f9dd6b61da5df"
            ],
            [],
            [
                "53b3c4f9d6e16afa"
            ],
            [],
            [],
            [
                "d6adf4aec81c606e"
            ],
            [
                "2ab0a61b78a0935b"
            ],
            [
                "6f6db94454568853"
            ],
            [],
            [],
            [],
            [
                "6536cb5d9ec40508",
                "a054b1412db37acf"
            ],
            [
                "330670da928ce502",
                "55068460245647a0"
            ],
            [
                "7f1aabc715013c60",
                "767fa7694beb6414"
            ],
            [
                "e650722ff60e831b",
                "91ad6417699bc0c8"
            ],
            [
                "ef19cd193bb1160e",
                "f6e641dee47d05b4"
            ],
            [
                "1658e87ffe2cb844",
                "f109da08dc2b8609"
            ],
            [
                "0204de609ababc7a",
                "168c3d7345727d09"
            ],
            [
                "c2fa301e251fecfa",
                "46fa8fdb23753145"
            ],
            [
                "6b02a8aca20c6f54",
                "cff2b389770b8a3a"
            ],
            [
                "f6ede9e0faebe15c",
                "3a348f5ef2aec474"
            ],
            [
                "c7c83b21ac1468f2",
                "d32229986aa9a3a1"
            ],
            [
                "65c2704f1abb5aa6",
                "328b50e938cc9a37"
            ],
            [
                "006b80561792ecea",
                "956a49f505860bd7"
            ],
            [
                "786b683e65ce67d0",
                "8fee02c0d2d2d08a"
            ],
            [
                "f5707ac024c0388c",
                "0a77c64c594878e2"
            ],
            [
                "019abcfe9f0d0489",
                "31b6d1f25aaa9484"
            ],
            [
                "afd24bc4f802961f",
                "6cbb4f5f6fcedbb5"
            ],
            [
                "402e2567ace068eb",
                "2527b307a0197a94"
            ],
            [
                "999716b4698d2d54",
                "58c264c217d7d9be"
            ],
            [
                "88ef9e5c3240a104",
                "97e7e921b9f17a2a"
            ],
            [
                "55fa53584903bfb1",
                "141f9a4dc3cf0297"
            ],
            [
                "b8f61cc77809562d",
                "e324e999324818e5"
            ],
            [
                "f2d3e01a39282b8a",
                "abe1c473b948a803"
            ],
            [
                "8fd45b073b8600c3",
                "6f8c9ac9d797e28a"
            ],
            [
                "8d1dd48376556b17",
                "de0567f7f204d570",
                "1d9e77c24b647a4c",
                "38c47486a2f3e239"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "國碼",
            "區碼",
            "場域碼",
            "排序",
            "資料",
            "ID1",
            "ID2",
            "T1_00",
            "T2_00",
            "V_00",
            "T1_01",
            "T2_01",
            "V_01",
            "T1_02",
            "T2_02",
            "V_02",
            "T1_03",
            "T2_03",
            "V_03",
            "T1_04",
            "T2_04",
            "v_04",
            "t1_05",
            "t2_05",
            "v_05",
            "t1_06",
            "t2_06",
            "v06",
            "t107",
            "t207",
            "v07",
            "t108",
            "t208",
            "v08",
            "t109",
            "t209",
            "v09",
            ""
        ]
    },
    {
        "id": "f1e16b5a.b9cc58",
        "type": "json",
        "z": "5c441759e2734c24",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "daee5d8d.93dda",
                "afd9cf79.ba28f",
                "6b23767d399e8688"
            ]
        ]
    },
    {
        "id": "bc298137.ab8b7",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "國碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "3062143c.cab28c",
        "type": "comment",
        "z": "5c441759e2734c24",
        "name": "Solaris MQTT Flow",
        "info": "",
        "x": 113,
        "y": 79,
        "wires": []
    },
    {
        "id": "824305559f23f9d5",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "區碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "690f9dd6b61da5df",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "場域碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "53b3c4f9d6e16afa",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "資料數量",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6adf4aec81c606e",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "00_t1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "2ab0a61b78a0935b",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "00_t2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f6db94454568853",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "00_v",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "40453f3c40e2dd21",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ce55fc427dfa53f4",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5c633e9015ee7e7a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_00",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7162b28b406408ae",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "80365b1aa8f3a033",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b0774b14a75b2c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "2358e2f987375741",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7f1aabc715013c60",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f3794bc018fa0ad8",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_02",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "330670da928ce502",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f3794bc018fa0ad8",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_02",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6536cb5d9ec40508",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f3794bc018fa0ad8",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_02",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a054b1412db37acf",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 420,
        "wires": [
            [
                "92a0c3f45ff64860"
            ]
        ]
    },
    {
        "id": "55068460245647a0",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "66de16a037c50f43"
            ]
        ]
    },
    {
        "id": "767fa7694beb6414",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "49d827b0e31b4575"
            ]
        ]
    },
    {
        "id": "1658e87ffe2cb844",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c474a44075d24df7",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_03",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ef19cd193bb1160e",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c474a44075d24df7",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_03",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e650722ff60e831b",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c474a44075d24df7",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_03",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "91ad6417699bc0c8",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 560,
        "wires": [
            [
                "9359f3478f7804e8"
            ]
        ]
    },
    {
        "id": "f6e641dee47d05b4",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 600,
        "wires": [
            [
                "0f93cfa890e67a69"
            ]
        ]
    },
    {
        "id": "f109da08dc2b8609",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 640,
        "wires": [
            [
                "9a1f2bb2a3a588ee"
            ]
        ]
    },
    {
        "id": "6b02a8aca20c6f54",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "819ae822198225e5",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_04",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c2fa301e251fecfa",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "819ae822198225e5",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_04",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "0204de609ababc7a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "819ae822198225e5",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_04",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "168c3d7345727d09",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 700,
        "wires": [
            [
                "a4f53b44d2c7e813"
            ]
        ]
    },
    {
        "id": "46fa8fdb23753145",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "d12221b1f9079bac"
            ]
        ]
    },
    {
        "id": "cff2b389770b8a3a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "8705c068fe81f91a"
            ]
        ]
    },
    {
        "id": "65c2704f1abb5aa6",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "57e9f1910bec9216",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_05",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "c7c83b21ac1468f2",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "57e9f1910bec9216",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_05",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f6ede9e0faebe15c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "57e9f1910bec9216",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_05",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3a348f5ef2aec474",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 840,
        "wires": [
            [
                "ca1a807684ed9dcc"
            ]
        ]
    },
    {
        "id": "d32229986aa9a3a1",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 880,
        "wires": [
            [
                "30823a954ced726c"
            ]
        ]
    },
    {
        "id": "328b50e938cc9a37",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 920,
        "wires": [
            [
                "81b994a4a90c11ee"
            ]
        ]
    },
    {
        "id": "f5707ac024c0388c",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c07ce06ec5c6e7c2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_06",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "786b683e65ce67d0",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c07ce06ec5c6e7c2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_06",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "006b80561792ecea",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "c07ce06ec5c6e7c2",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_06",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "956a49f505860bd7",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 980,
        "wires": [
            [
                "cb2d16488869034d"
            ]
        ]
    },
    {
        "id": "8fee02c0d2d2d08a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1020,
        "wires": [
            [
                "5e9aa38f08e23c67"
            ]
        ]
    },
    {
        "id": "0a77c64c594878e2",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1060,
        "wires": [
            [
                "7077d305fc02c9b4"
            ]
        ]
    },
    {
        "id": "142608e40f7e91be",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "fa1a5c3290dcee5b",
        "type": "inject",
        "z": "5c441759e2734c24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GIOT-GW/UL/1C497B499010",
        "payload": "[{\"channel\":902500000, \"sf\":7, \"time\":\"2022-05-03T15:42:39+08:00\", \"gwip\":\"192.168.88.3\", \"gwid\":\"000080029c2b2a5d\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-35.0, \"snr\":25.5, \"snr_max\":37.0, \"snr_min\":14.5, \"macAddr\":\"0000000005000001\", \"data\":\"38383633353939393930303930303030303034303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531\", \"frameCnt\":8, \"fport\":1}]",
        "payloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "402e2567ace068eb",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f7b16e5221137228",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_07",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "afd24bc4f802961f",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f7b16e5221137228",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_07",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "019abcfe9f0d0489",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "f7b16e5221137228",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_07",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "31b6d1f25aaa9484",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "509aa742d52c2235"
            ]
        ]
    },
    {
        "id": "6cbb4f5f6fcedbb5",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "754a47ab7667e6aa"
            ]
        ]
    },
    {
        "id": "2527b307a0197a94",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1200,
        "wires": [
            [
                "19133a41901460e0"
            ]
        ]
    },
    {
        "id": "55fa53584903bfb1",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "7f204edd9bd45bd6",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_08",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "88ef9e5c3240a104",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "7f204edd9bd45bd6",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_08",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "999716b4698d2d54",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "7f204edd9bd45bd6",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_08",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "58c264c217d7d9be",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1260,
        "wires": [
            [
                "512ca3b8987fc484"
            ]
        ]
    },
    {
        "id": "97e7e921b9f17a2a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1300,
        "wires": [
            [
                "a0f20770568ca7c5"
            ]
        ]
    },
    {
        "id": "141f9a4dc3cf0297",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1340,
        "wires": [
            [
                "dc694c539e8c00a0"
            ]
        ]
    },
    {
        "id": "8fd45b073b8600c3",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "24c4cf333fe093c3",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "V_09",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "f2d3e01a39282b8a",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "24c4cf333fe093c3",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T2_09",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "b8f61cc77809562d",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "",
        "group": "24c4cf333fe093c3",
        "order": 0,
        "width": "3",
        "height": "3",
        "label": "T1_09",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "e324e999324818e5",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1400,
        "wires": [
            [
                "7bcbc519fb36626c"
            ]
        ]
    },
    {
        "id": "abe1c473b948a803",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常溫度",
        "func": "var value = msg.payload\nif (value < 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1440,
        "wires": [
            [
                "c50c06184916c9da"
            ]
        ]
    },
    {
        "id": "6f8c9ac9d797e28a",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "判斷正常電壓",
        "func": "var value_vol = msg.payload\nif (value_vol > 25 && value_vol <45) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1480,
        "wires": [
            [
                "419096e19e270cc6"
            ]
        ]
    },
    {
        "id": "b3aebacfa329c2b8",
        "type": "ui_table",
        "z": "5c441759e2734c24",
        "group": "e428bbd258f4cca6",
        "name": "test",
        "order": 0,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 170,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ad8a98e89dddea06",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 1,
        "group": "249c40fa652cd3a7",
        "width": 3,
        "height": 1,
        "label": "一號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號溫度T1",
        "x": 1310,
        "y": 160,
        "wires": []
    },
    {
        "id": "b1c93dbc59df2d77",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 2,
        "group": "249c40fa652cd3a7",
        "width": 3,
        "height": 1,
        "label": "一號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號溫度T2",
        "x": 1310,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ee0fbd4c1746434",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 3,
        "group": "249c40fa652cd3a7",
        "width": 3,
        "height": 1,
        "label": "一號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "一號電壓",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "29a7aa76246e730d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T1",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "9699a8c78c79e1e9",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "square",
        "showGlow": false,
        "name": "二號溫度T2",
        "x": 1310,
        "y": 440,
        "wires": []
    },
    {
        "id": "7cf0b56ae31889c6",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "二號電壓",
        "x": 1300,
        "y": 480,
        "wires": []
    },
    {
        "id": "92a0c3f45ff64860",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "f68be4ccdb008527",
        "width": 3,
        "height": 1,
        "label": "三號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號溫度T1",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "66de16a037c50f43",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "f68be4ccdb008527",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號溫度T2",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "49d827b0e31b4575",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "f68be4ccdb008527",
        "width": 3,
        "height": 1,
        "label": "三號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號電壓",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "9359f3478f7804e8",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "0373efd2544ac4dc",
        "width": 3,
        "height": 1,
        "label": "四號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號溫度T1",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "0f93cfa890e67a69",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "0373efd2544ac4dc",
        "width": 3,
        "height": 1,
        "label": "四號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號溫度T2",
        "x": 950,
        "y": 600,
        "wires": []
    },
    {
        "id": "9a1f2bb2a3a588ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "0373efd2544ac4dc",
        "width": 3,
        "height": 1,
        "label": "四號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號電壓",
        "x": 940,
        "y": 640,
        "wires": []
    },
    {
        "id": "a4f53b44d2c7e813",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "9e5ac7d8331898c9",
        "width": 3,
        "height": 1,
        "label": "五號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號溫度T1",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "d12221b1f9079bac",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "9e5ac7d8331898c9",
        "width": 3,
        "height": 1,
        "label": "五號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號溫度T2",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "8705c068fe81f91a",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "9e5ac7d8331898c9",
        "width": 3,
        "height": 1,
        "label": "五號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號電壓",
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "ca1a807684ed9dcc",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "b81b17d0e501a467",
        "width": 3,
        "height": 1,
        "label": "六號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號溫度T1",
        "x": 950,
        "y": 840,
        "wires": []
    },
    {
        "id": "30823a954ced726c",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "b81b17d0e501a467",
        "width": 3,
        "height": 1,
        "label": "六號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號溫度T2",
        "x": 950,
        "y": 880,
        "wires": []
    },
    {
        "id": "81b994a4a90c11ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "b81b17d0e501a467",
        "width": 3,
        "height": 1,
        "label": "六號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號電壓",
        "x": 940,
        "y": 920,
        "wires": []
    },
    {
        "id": "cb2d16488869034d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "47593f38e44cc300",
        "width": 3,
        "height": 1,
        "label": "七號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號溫度T1",
        "x": 950,
        "y": 980,
        "wires": []
    },
    {
        "id": "5e9aa38f08e23c67",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "47593f38e44cc300",
        "width": 3,
        "height": 1,
        "label": "七號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號溫度T2",
        "x": 950,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7077d305fc02c9b4",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "47593f38e44cc300",
        "width": 3,
        "height": 1,
        "label": "七號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號電壓",
        "x": 940,
        "y": 1060,
        "wires": []
    },
    {
        "id": "509aa742d52c2235",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "d42c2a10ec23ea75",
        "width": 3,
        "height": 1,
        "label": "八號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號溫度T1",
        "x": 950,
        "y": 1120,
        "wires": []
    },
    {
        "id": "754a47ab7667e6aa",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "d42c2a10ec23ea75",
        "width": 3,
        "height": 1,
        "label": "八號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號溫度T2",
        "x": 950,
        "y": 1160,
        "wires": []
    },
    {
        "id": "19133a41901460e0",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "d42c2a10ec23ea75",
        "width": 3,
        "height": 1,
        "label": "八號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號電壓",
        "x": 940,
        "y": 1200,
        "wires": []
    },
    {
        "id": "512ca3b8987fc484",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "730aa71f87f989e4",
        "width": 3,
        "height": 1,
        "label": "九號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "九號溫度T1",
        "x": 950,
        "y": 1260,
        "wires": []
    },
    {
        "id": "a0f20770568ca7c5",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "730aa71f87f989e4",
        "width": 3,
        "height": 1,
        "label": "九號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "九號溫度T2",
        "x": 950,
        "y": 1300,
        "wires": []
    },
    {
        "id": "dc694c539e8c00a0",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "730aa71f87f989e4",
        "width": 3,
        "height": 1,
        "label": "九號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "九號電壓",
        "x": 940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7bcbc519fb36626c",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "a520ad11e212b4ee",
        "width": 3,
        "height": 1,
        "label": "十號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "十號溫度T1",
        "x": 950,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c50c06184916c9da",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "a520ad11e212b4ee",
        "width": 3,
        "height": 1,
        "label": "十號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "十號溫度T2",
        "x": 950,
        "y": 1440,
        "wires": []
    },
    {
        "id": "419096e19e270cc6",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "a520ad11e212b4ee",
        "width": 3,
        "height": 1,
        "label": "十號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "十號電壓",
        "x": 940,
        "y": 1480,
        "wires": []
    },
    {
        "id": "8d1dd48376556b17",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "",
        "func": "TableData = flow.get(\"SaveData\")||[];\n\nTableData.unshift({\n            \"Time\": new Date().toLocaleString(\"TW\",{ hour12: false }),\n            //\"contry code\": msg.contry_code.payload,\n            //\"area code\": msg.area_code.payload,\n            //\"local area\": msg.local_area.payload,\n            \"sort id\": msg.sort_id.payload,\n            //\"data qty\": msg.data_number.payload,\n            \"T1_00\": msg.T1_00.payload,\n            \"T2_00\": msg.T2_00.payload,\n            \"V0_00\": msg.V0_00.payload,\n            \"T1_01\": msg.T1_01.payload,\n            \"T2_01\": msg.T2_01.payload,\n            \"V0_01\": msg.V0_01.payload,\n            \"T1_02\": msg.T1_02.payload,\n            \"T2_02\": msg.T2_02.payload,\n            \"V0_02\": msg.V0_02.payload,\n            \"T1_03\": msg.T1_03.payload,\n            \"T2_03\": msg.T2_03.payload,\n            \"V0_03\": msg.V0_03.payload,\n            \"T1_04\": msg.T1_04.payload,\n            \"T2_04\": msg.T2_04.payload,\n            \"V0_04\": msg.V0_04.payload,\n            \"T1_05\": msg.T1_05.payload,\n            \"T2_05\": msg.T2_05.payload,\n            \"V0_05\": msg.V0_05.payload,\n            \"T1_06\": msg.T1_06.payload,\n            \"T2_06\": msg.T2_06.payload,\n            \"V0_06\": msg.V0_06.payload,\n        })\n        \nif (TableData.length > 5) TableData.pop();\nmsg.payload = TableData;\nflow.set(\"SaveData\",TableData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "b3aebacfa329c2b8",
                "4211baa51ada1789"
            ]
        ]
    },
    {
        "id": "4211baa51ada1789",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7cca9b8f6e936a42",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6b23767d399e8688",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "de0567f7f204d570",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵1",
        "func": "var T1 = msg.T1_00;\nvar T2 = msg.T2_00;\nvar V0 = msg.V0_00;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [T1, T2, V0, \n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 60,
        "wires": [
            [
                "5c633e9015ee7e7a"
            ],
            [
                "ce55fc427dfa53f4"
            ],
            [
                "40453f3c40e2dd21"
            ],
            [
                "ad8a98e89dddea06"
            ],
            [
                "b1c93dbc59df2d77"
            ],
            [
                "1ee0fbd4c1746434"
            ]
        ]
    },
    {
        "id": "1d9e77c24b647a4c",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 980,
        "wires": []
    },
    {
        "id": "38c47486a2f3e239",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵2",
        "func": "var T1 = msg.T1_01;\nvar T2 = msg.T2_01;\nvar V0 = msg.V0_01;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [T1, T2, V0, \n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 180,
        "wires": [
            [
                "a8b0774b14a75b2c"
            ],
            [
                "80365b1aa8f3a033"
            ],
            [
                "7162b28b406408ae"
            ],
            [
                "29a7aa76246e730d"
            ],
            [
                "9699a8c78c79e1e9"
            ],
            [
                "7cf0b56ae31889c6"
            ]
        ]
    }
]