docker/node-red/flows.json
[
    {
        "id": "5c441759e2734c24",
        "type": "tab",
        "label": "太陽能版",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "658e28f743501267",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a2f2943.8640a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "723379c69578ddb2",
        "type": "ui_group",
        "name": "1班",
        "tab": "63d6e1dacf4aad0e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2358e2f987375741",
        "type": "ui_group",
        "name": "班兵2",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e09e6b64da968877",
        "type": "ui_group",
        "z": "5c441759e2734c24",
        "name": "1班",
        "tab": "de4f6f425e9e5d7a",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63d6e1dacf4aad0e",
        "type": "ui_tab",
        "name": "歷史紀錄",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de4f6f425e9e5d7a",
        "type": "ui_tab",
        "name": "告警狀態",
        "icon": "check",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "49929dab3daad902",
        "type": "ui_tab",
        "name": "感測數值",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e428bbd258f4cca6",
        "type": "ui_group",
        "name": "Table",
        "tab": "49929dab3daad902",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "249c40fa652cd3a7",
        "type": "ui_group",
        "name": "2班",
        "tab": "de4f6f425e9e5d7a",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f68be4ccdb008527",
        "type": "ui_group",
        "name": "3班",
        "tab": "de4f6f425e9e5d7a",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0373efd2544ac4dc",
        "type": "ui_group",
        "name": "4班",
        "tab": "de4f6f425e9e5d7a",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e5ac7d8331898c9",
        "type": "ui_group",
        "name": "班兵5",
        "tab": "de4f6f425e9e5d7a",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b81b17d0e501a467",
        "type": "ui_group",
        "name": "班兵6",
        "tab": "de4f6f425e9e5d7a",
        "order": 6,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d42c2a10ec23ea75",
        "type": "ui_group",
        "name": "班兵8",
        "tab": "de4f6f425e9e5d7a",
        "order": 8,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "730aa71f87f989e4",
        "type": "ui_group",
        "name": "班兵9",
        "tab": "de4f6f425e9e5d7a",
        "order": 9,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a520ad11e212b4ee",
        "type": "ui_group",
        "name": "班兵10",
        "tab": "de4f6f425e9e5d7a",
        "order": 10,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3794bc018fa0ad8",
        "type": "ui_group",
        "name": "班兵3",
        "tab": "63d6e1dacf4aad0e",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c474a44075d24df7",
        "type": "ui_group",
        "name": "班兵4",
        "tab": "63d6e1dacf4aad0e",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "819ae822198225e5",
        "type": "ui_group",
        "name": "班兵5",
        "tab": "63d6e1dacf4aad0e",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57e9f1910bec9216",
        "type": "ui_group",
        "name": "班兵6",
        "tab": "63d6e1dacf4aad0e",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47593f38e44cc300",
        "type": "ui_group",
        "name": "班兵7",
        "tab": "de4f6f425e9e5d7a",
        "order": 11,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7b16e5221137228",
        "type": "ui_group",
        "name": "班兵8",
        "tab": "63d6e1dacf4aad0e",
        "order": 7,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f204edd9bd45bd6",
        "type": "ui_group",
        "name": "班兵9",
        "tab": "63d6e1dacf4aad0e",
        "order": 8,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24c4cf333fe093c3",
        "type": "ui_group",
        "name": "班兵10",
        "tab": "63d6e1dacf4aad0e",
        "order": 9,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c07ce06ec5c6e7c2",
        "type": "ui_group",
        "name": "班兵7",
        "tab": "63d6e1dacf4aad0e",
        "order": 10,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab7db771.fa0e38",
        "type": "mqtt in",
        "z": "5c441759e2734c24",
        "name": "mqtt sub",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "3a2f2943.8640a6",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f1e16b5a.b9cc58",
                "142608e40f7e91be"
            ]
        ]
    },
    {
        "id": "afd9cf79.ba28f",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "All json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "daee5d8d.93dda",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "太陽能班排長",
        "func": "var payload = msg.payload[0];\nfunction hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n//bin_string = (parseInt(payload.data, 16).toString(2)).padStart(8, '0');\n// return msg;\nascii_string = hex_to_ascii(msg.payload[0].data)\nvar dict_ascii_string = {};\ndict_ascii_string[\"contry_code\"] =  { payload:ascii_string.slice(0,3)};\ndict_ascii_string[\"area_code\"] =    { payload:ascii_string.slice(3,5)};\ndict_ascii_string[\"local_area\"] =   { payload:ascii_string.slice(5,7)};\ndict_ascii_string[\"sort_id\"] =      { payload:ascii_string.slice(7,9)};\ndict_ascii_string[\"data_number\"] =  { payload:ascii_string.slice(9,12)};\ndict_ascii_string[\"ID1\"] =          { payload:ascii_string.slice(12,15)};\ndict_ascii_string[\"ID2\"] =          { payload:ascii_string.slice(15,18)};\ndict_ascii_string[\"T1_00\"] =    { payload:ascii_string.slice(18,20)};\ndict_ascii_string[\"T2_00\"] =    { payload:ascii_string.slice(20,22)};\ndict_ascii_string[\"V0_00\"] =    { payload:ascii_string.slice(22,25)/10};\ndict_ascii_string[\"T1_01\"] =    { payload:ascii_string.slice(25,27)};\ndict_ascii_string[\"T2_01\"] =    { payload:ascii_string.slice(27,29)};\ndict_ascii_string[\"V0_01\"] =    { payload:ascii_string.slice(29,32)/10};\ndict_ascii_string[\"T1_02\"] =    { payload:ascii_string.slice(32,34)};\ndict_ascii_string[\"T2_02\"] =    { payload:ascii_string.slice(34,36)};\ndict_ascii_string[\"V0_02\"] =    { payload:ascii_string.slice(36,39)/10};\ndict_ascii_string[\"T1_03\"] =    { payload:ascii_string.slice(39,41)};\ndict_ascii_string[\"T2_03\"] =    { payload:ascii_string.slice(41,43)};\ndict_ascii_string[\"V0_03\"] =    { payload:ascii_string.slice(43,46)/10};\ndict_ascii_string[\"T1_04\"] =    { payload:ascii_string.slice(46,48)};\ndict_ascii_string[\"T2_04\"] =    { payload:ascii_string.slice(48,50)};\ndict_ascii_string[\"V0_04\"] =    { payload:ascii_string.slice(50,53)/10};\ndict_ascii_string[\"T1_05\"] =    { payload:ascii_string.slice(53,55)};\ndict_ascii_string[\"T2_05\"] =    { payload:ascii_string.slice(55,57)};\ndict_ascii_string[\"V0_05\"] =    { payload:ascii_string.slice(57,60)/10};\ndict_ascii_string[\"T1_06\"] =    { payload:ascii_string.slice(60,62)};\ndict_ascii_string[\"T2_06\"] =    { payload:ascii_string.slice(62,64)};\ndict_ascii_string[\"V0_06\"] =    { payload:ascii_string.slice(64,67)/10};\ndict_ascii_string[\"T1_07\"] =    { payload:ascii_string.slice(67,69)};\ndict_ascii_string[\"T2_07\"] =    { payload:ascii_string.slice(69,71)};\ndict_ascii_string[\"V0_07\"] =    { payload:ascii_string.slice(71,74)/10};\ndict_ascii_string[\"T1_08\"] =    { payload:ascii_string.slice(74,76)};\ndict_ascii_string[\"T2_08\"] =    { payload:ascii_string.slice(76,78)};\ndict_ascii_string[\"V0_08\"] =    { payload:ascii_string.slice(78,81)/10};\ndict_ascii_string[\"T1_09\"] =    { payload:ascii_string.slice(81,83)};\ndict_ascii_string[\"T2_09\"] =    { payload:ascii_string.slice(83,85)};\ndict_ascii_string[\"V0_09\"] =    { payload:ascii_string.slice(85,88)/10};\nreturn [ dict_ascii_string[\"contry_code\"], \n    dict_ascii_string[\"area_code\"], \n    dict_ascii_string[\"local_area\"], \n    dict_ascii_string[\"sort_id\"], \n    dict_ascii_string[\"data_number\"], \n    dict_ascii_string[\"ID1\"], \n    dict_ascii_string[\"ID2\"], \n    dict_ascii_string];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 680,
        "wires": [
            [
                "bc298137.ab8b7"
            ],
            [
                "824305559f23f9d5"
            ],
            [
                "690f9dd6b61da5df"
            ],
            [
                "c51c75f0106d1911"
            ],
            [
                "53b3c4f9d6e16afa"
            ],
            [
                "1394dfa93964e334"
            ],
            [
                "5578f1335077e096"
            ],
            [
                "de0567f7f204d570",
                "38c47486a2f3e239",
                "2c72b16ade21ee93",
                "17925c83cf57cf55",
                "9ab556d48a04ed44",
                "45898649ac692cbf",
                "bb886ea3404994b3",
                "a969e7de823cad83",
                "160f47071f0422ab",
                "3aeddd1c52830c9f",
                "8782a667a4a62d54",
                "8d1dd48376556b17"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "國碼",
            "區碼",
            "場域碼",
            "排序",
            "資料",
            "ID1",
            "ID2",
            "All"
        ]
    },
    {
        "id": "f1e16b5a.b9cc58",
        "type": "json",
        "z": "5c441759e2734c24",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "daee5d8d.93dda",
                "afd9cf79.ba28f",
                "6b23767d399e8688"
            ]
        ]
    },
    {
        "id": "bc298137.ab8b7",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "國碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "3062143c.cab28c",
        "type": "comment",
        "z": "5c441759e2734c24",
        "name": "Solaris MQTT Flow",
        "info": "",
        "x": 113,
        "y": 79,
        "wires": []
    },
    {
        "id": "824305559f23f9d5",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "區碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "690f9dd6b61da5df",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "場域碼",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "53b3c4f9d6e16afa",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "資料數量",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "142608e40f7e91be",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "fa1a5c3290dcee5b",
        "type": "inject",
        "z": "5c441759e2734c24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GIOT-GW/UL/1C497B499010",
        "payload": "[{\"channel\":902500000, \"sf\":7, \"time\":\"2022-05-03T15:42:39+08:00\", \"gwip\":\"192.168.88.3\", \"gwid\":\"000080029c2b2a5d\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-35.0, \"snr\":25.5, \"snr_max\":37.0, \"snr_min\":14.5, \"macAddr\":\"0000000005000001\", \"data\":\"38383633353939393930303930303030303034303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531\", \"frameCnt\":8, \"fport\":1}]",
        "payloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "b3aebacfa329c2b8",
        "type": "ui_table",
        "z": "5c441759e2734c24",
        "group": "e428bbd258f4cca6",
        "name": "test",
        "order": 0,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 170,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ad8a98e89dddea06",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 1,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "0號全狀態",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "yellow",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "0號全狀態",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "92a0c3f45ff64860",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "三號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號溫度T1",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "66de16a037c50f43",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "二號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號溫度T2",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "49d827b0e31b4575",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "三號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "三號電壓",
        "x": 1160,
        "y": 420,
        "wires": []
    },
    {
        "id": "9359f3478f7804e8",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "四號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號溫度T1",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "0f93cfa890e67a69",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "四號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號溫度T2",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "9a1f2bb2a3a588ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "四號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "四號電壓",
        "x": 1160,
        "y": 480,
        "wires": []
    },
    {
        "id": "a4f53b44d2c7e813",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "五號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號溫度T1",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "d12221b1f9079bac",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "五號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號溫度T2",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "8705c068fe81f91a",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "五號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "五號電壓",
        "x": 1160,
        "y": 540,
        "wires": []
    },
    {
        "id": "ca1a807684ed9dcc",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "六號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號溫度T1",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "30823a954ced726c",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "六號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號溫度T2",
        "x": 1010,
        "y": 600,
        "wires": []
    },
    {
        "id": "81b994a4a90c11ee",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "六號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "六號電壓",
        "x": 1160,
        "y": 600,
        "wires": []
    },
    {
        "id": "cb2d16488869034d",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "七號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號溫度T1",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e9aa38f08e23c67",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "七號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號溫度T2",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "7077d305fc02c9b4",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "七號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "七號電壓",
        "x": 1160,
        "y": 660,
        "wires": []
    },
    {
        "id": "509aa742d52c2235",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 4,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "八號溫度T1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號溫度T1",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "754a47ab7667e6aa",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 5,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "八號溫度T2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號溫度T2",
        "x": 1010,
        "y": 720,
        "wires": []
    },
    {
        "id": "19133a41901460e0",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 6,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "八號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "八號電壓",
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d1dd48376556b17",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "",
        "func": "TableData = flow.get(\"SaveData\")||[];\n\nTableData.unshift({\n            \"Time\": new Date().toLocaleString(\"TW\",{ hour12: false }),\n            //\"contry code\": msg.contry_code.payload,\n            //\"area code\": msg.area_code.payload,\n            //\"local area\": msg.local_area.payload,\n            \"sort id\": msg.sort_id.payload,\n            //\"data qty\": msg.data_number.payload,\n            \"T1_00\": msg.T1_00.payload,\n            \"T2_00\": msg.T2_00.payload,\n            \"V0_00\": msg.V0_00.payload,\n            \"T1_01\": msg.T1_01.payload,\n            \"T2_01\": msg.T2_01.payload,\n            \"V0_01\": msg.V0_01.payload,\n            \"T1_02\": msg.T1_02.payload,\n            \"T2_02\": msg.T2_02.payload,\n            \"V0_02\": msg.V0_02.payload,\n            \"T1_03\": msg.T1_03.payload,\n            \"T2_03\": msg.T2_03.payload,\n            \"V0_03\": msg.V0_03.payload,\n            \"T1_04\": msg.T1_04.payload,\n            \"T2_04\": msg.T2_04.payload,\n            \"V0_04\": msg.V0_04.payload,\n            \"T1_05\": msg.T1_05.payload,\n            \"T2_05\": msg.T2_05.payload,\n            \"V0_05\": msg.V0_05.payload,\n            \"T1_06\": msg.T1_06.payload,\n            \"T2_06\": msg.T2_06.payload,\n            \"V0_06\": msg.V0_06.payload,\n        })\n        \nif (TableData.length > 5) TableData.pop();\nmsg.payload = TableData;\nflow.set(\"SaveData\",TableData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "b3aebacfa329c2b8",
                "4211baa51ada1789"
            ]
        ]
    },
    {
        "id": "4211baa51ada1789",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7cca9b8f6e936a42",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6b23767d399e8688",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "de0567f7f204d570",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班長0",
        "func": "var input = \"00\";\nvar T1 = msg[\"T1_\" + input];\nvar T2 = msg.T2_00;\nvar V0 = msg.V0_00;\nT1.health = {};\nT2.health = {};\nV0.health = {};\nif (T1.payload < 50){\n    T1.health.payload = true;\n} else {\n    T1.health.payload = false;\n}\nif (T2.payload < 50){\n    T2.health.payload = true;\n} else {\n    T2.health.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.health.payload = true;\n} else {\n    V0.health.payload = false;\n}\nif (T1.health.payload && T2.health.payload && V0.health.payload){\n    msg.payload = \"green\";\n}else if (V0.health.payload) {\n    msg.payload = \"yellow\";\n} else {\n    msg.payload = \"red\";\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ad8a98e89dddea06",
                "59ed93af68ae2be1"
            ]
        ]
    },
    {
        "id": "1d9e77c24b647a4c",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 1140,
        "wires": []
    },
    {
        "id": "38c47486a2f3e239",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵1",
        "func": "var T1 = msg.T1_01;\nvar T2 = msg.T2_01;\nvar V0 = msg.V0_01;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "7c123959588f6055"
            ],
            [
                "db336ccf2c997a83"
            ],
            [
                "e31ae7b1aa2a620e"
            ]
        ]
    },
    {
        "id": "b3cad2bf3dfb4357",
        "type": "inject",
        "z": "5c441759e2734c24",
        "name": "電壓太低",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GIOT-GW/UL/1C497B499010",
        "payload": "[{\"channel\":902500000, \"sf\":7, \"time\":\"2022-05-03T15:42:39+08:00\", \"gwip\":\"192.168.88.3\", \"gwid\":\"000080029c2b2a5d\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-35.0, \"snr\":25.5, \"snr_max\":37.0, \"snr_min\":14.5, \"macAddr\":\"0000000005000001\", \"data\":\"38383633353939393930303930303030303034303431323431343034313335313430343133353134303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531\", \"frameCnt\":8, \"fport\":1}]",
        "payloadType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "2f81856a8b5128d2",
        "type": "inject",
        "z": "5c441759e2734c24",
        "name": "溫度太高",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GIOT-GW/UL/1C497B499010",
        "payload": "[{\"channel\":902500000, \"sf\":7, \"time\":\"2022-05-03T15:42:39+08:00\", \"gwip\":\"192.168.88.3\", \"gwid\":\"000080029c2b2a5d\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-35.0, \"snr\":25.5, \"snr_max\":37.0, \"snr_min\":14.5, \"macAddr\":\"0000000005000001\", \"data\":\"38383633353939393930303930303030303037303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531343034313335313430343133353134303431333531\", \"frameCnt\":8, \"fport\":1}]",
        "payloadType": "str",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "f1e16b5a.b9cc58"
            ]
        ]
    },
    {
        "id": "18eefb3b7655de9e",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "T1",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "T1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "24",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 1020,
        "wires": [
            [
                "1d9e77c24b647a4c"
            ]
        ]
    },
    {
        "id": "8782a667a4a62d54",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "全班T1",
        "func": "var mutildata = [\n    {topic:\"T1_00\", payload: msg.T1_00.payload},\n    {topic:\"T1_01\", payload: msg.T1_01.payload},\n    {topic:\"T1_02\", payload: msg.T1_02.payload},\n    {topic:\"T1_03\", payload: msg.T1_03.payload},\n    {topic:\"T1_04\", payload: msg.T1_04.payload},\n    {topic:\"T1_05\", payload: msg.T1_05.payload},\n    {topic:\"T1_06\", payload: msg.T1_06.payload},\n    ]\nreturn mutildata;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "18eefb3b7655de9e"
            ],
            [
                "18eefb3b7655de9e"
            ],
            [
                "18eefb3b7655de9e"
            ],
            [
                "18eefb3b7655de9e"
            ],
            [
                "18eefb3b7655de9e"
            ],
            [
                "18eefb3b7655de9e"
            ]
        ]
    },
    {
        "id": "ac4b9a886a484275",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "T2",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "T2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "24",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "3aeddd1c52830c9f",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "全班T2",
        "func": "var mutildata = [\n    {topic:\"T2_00\", payload: msg.T2_00.payload},\n    {topic:\"T2_01\", payload: msg.T2_01.payload},\n    {topic:\"T2_02\", payload: msg.T2_02.payload},\n    {topic:\"T2_03\", payload: msg.T2_03.payload},\n    {topic:\"T2_04\", payload: msg.T2_04.payload},\n    {topic:\"T2_05\", payload: msg.T2_05.payload},\n    {topic:\"T2_06\", payload: msg.T2_06.payload},\n    ]\nreturn mutildata;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 960,
        "wires": [
            [
                "ac4b9a886a484275"
            ],
            [
                "ac4b9a886a484275"
            ],
            [
                "ac4b9a886a484275"
            ],
            [
                "ac4b9a886a484275"
            ],
            [
                "ac4b9a886a484275"
            ],
            [
                "ac4b9a886a484275"
            ]
        ]
    },
    {
        "id": "7153069f547c6ad4",
        "type": "ui_chart",
        "z": "5c441759e2734c24",
        "name": "V0",
        "group": "723379c69578ddb2",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "V0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "24",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "160f47071f0422ab",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "全班V0",
        "func": "var mutildata = [\n    {topic:\"V0_00\", payload: msg.V0_00.payload},\n    {topic:\"V0_01\", payload: msg.V0_01.payload},\n    {topic:\"V0_02\", payload: msg.V0_02.payload},\n    {topic:\"V0_03\", payload: msg.V0_03.payload},\n    {topic:\"V0_04\", payload: msg.V0_04.payload},\n    {topic:\"V0_05\", payload: msg.V0_05.payload},\n    {topic:\"V0_06\", payload: msg.V0_06.payload},\n    ]\nreturn mutildata;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "7153069f547c6ad4"
            ],
            [
                "7153069f547c6ad4"
            ],
            [
                "7153069f547c6ad4"
            ],
            [
                "7153069f547c6ad4"
            ],
            [
                "7153069f547c6ad4"
            ],
            [
                "7153069f547c6ad4"
            ]
        ]
    },
    {
        "id": "2c72b16ade21ee93",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵2",
        "func": "var T1 = msg.T1_02;\nvar T2 = msg.T2_02;\nvar V0 = msg.V0_02;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "92a0c3f45ff64860"
            ],
            [
                "66de16a037c50f43"
            ],
            [
                "49d827b0e31b4575"
            ]
        ]
    },
    {
        "id": "17925c83cf57cf55",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵3",
        "func": "var T1 = msg.T1_03;\nvar T2 = msg.T2_03;\nvar V0 = msg.V0_03;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "9359f3478f7804e8"
            ],
            [
                "0f93cfa890e67a69"
            ],
            [
                "9a1f2bb2a3a588ee"
            ]
        ]
    },
    {
        "id": "9ab556d48a04ed44",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵4",
        "func": "var T1 = msg.T1_04;\nvar T2 = msg.T2_04;\nvar V0 = msg.V0_04;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "a4f53b44d2c7e813"
            ],
            [
                "d12221b1f9079bac"
            ],
            [
                "8705c068fe81f91a"
            ]
        ]
    },
    {
        "id": "45898649ac692cbf",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵5",
        "func": "var T1 = msg.T1_05;\nvar T2 = msg.T2_05;\nvar V0 = msg.V0_05;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 620,
        "wires": [
            [
                "ca1a807684ed9dcc"
            ],
            [
                "30823a954ced726c"
            ],
            [
                "81b994a4a90c11ee"
            ]
        ]
    },
    {
        "id": "bb886ea3404994b3",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵6",
        "func": "var T1 = msg.T1_06;\nvar T2 = msg.T2_06;\nvar V0 = msg.V0_06;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "cb2d16488869034d"
            ],
            [
                "5e9aa38f08e23c67"
            ],
            [
                "7077d305fc02c9b4"
            ]
        ]
    },
    {
        "id": "a969e7de823cad83",
        "type": "function",
        "z": "5c441759e2734c24",
        "name": "班兵7",
        "func": "var T1 = msg.T1_07;\nvar T2 = msg.T2_07;\nvar V0 = msg.V0_07;\nT1.alert = {};\nT2.alert = {};\nV0.alert = {};\nif (T1.payload < 50){\n    T1.alert.payload = true;\n} else {\n    T1.alert.payload = false;\n}\nif (T2.payload < 50){\n    T2.alert.payload = true;\n} else {\n    T2.alert.payload = false;\n}\nif (V0.payload > 25 && V0.payload <45) {\n    V0.alert.payload = true;\n} else {\n    V0.alert.payload = false;\n}\n\nreturn [\n    T1.alert,\n    T2.alert,\n    V0.alert\n    ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "509aa742d52c2235"
            ],
            [
                "754a47ab7667e6aa"
            ],
            [
                "19133a41901460e0"
            ]
        ]
    },
    {
        "id": "7c123959588f6055",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 1,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "1號溫度1",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "0號溫度1",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "db336ccf2c997a83",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 2,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "1號溫度2",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "0號溫度2",
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "e31ae7b1aa2a620e",
        "type": "ui_led",
        "z": "5c441759e2734c24",
        "order": 3,
        "group": "e09e6b64da968877",
        "width": 3,
        "height": 1,
        "label": "1號電壓",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "0號電壓",
        "x": 1160,
        "y": 340,
        "wires": []
    },
    {
        "id": "59ed93af68ae2be1",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "1394dfa93964e334",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "班長ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "5578f1335077e096",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "帶頭班兵ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "c51c75f0106d1911",
        "type": "debug",
        "z": "5c441759e2734c24",
        "name": "流水序號",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 380,
        "wires": []
    }
]